<!--##begin-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-AU">
<head>
 <title>level14</title>
 <meta http-equiv="content-type" content="application/xhtml; charset=UTF-8" />
<link rel="stylesheet" href="../../css/missunderstood/screen.css" type="text/css" />
<link rel="stylesheet" href="../../css/default/lightbox.css" type="text/css" />
    <script src="../../js/default/prototype.js" type="text/javascript"></script>
    <script src="../../js/default/scriptaculous.js?load=effects,controls,dragdrop,builder" type="text/javascript"></script>
    <script src="../../js/default/lightbox.js" type="text/javascript"></script>
    <script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
  	try {
		var pageTracker = _gat._getTracker("UA-1235455-2");
		pageTracker._trackPageview();
	} catch(err) {}
    </script>
</head>
<body>
    <div id="main">
        <div id="oben"></div>
            <div id="buffy">
                <a href="index.html" id="logo"></a>
                <div id="mainnavi"><a class="pink" href="/kontakt.html">Kontakt</a><a class="pink" href="/impressum.html">Impressum</a></div>
                <div id="search">
                    <input type="text" size="15" /> <button>search</button>
                </div>
                <div class="br"></div>
                #{navlist}
                <div id="content_wrap">
                    #{main}
                </div>
                #{maginal}
                #{auth}
                <div class="br"></div>

            </div>
    </div>

</body>     
</html>
<!--##end-->
                    <div id="fbfoot" style="position: absolute;bottom: -5px;background-color: white">
               <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2Flevel14%2F172127756190928&amp;width=292&amp;colorscheme=light&amp;show_faces=false&amp;border_color&amp;stream=false&amp;header=false&amp;height=62" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:62px;" allowTransparency="true"></iframe>     
                </div>


<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2Flevel14%2F172127756190928&amp;width=392&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=true&amp;header=true&amp;height=427" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:392px; height:427px;" allowTransparency="true"></iframe>
