@import url(/css/studie.css);

/*
#container{
    background:none;
}

.teaser {
    background-color:#C8D1EB;
}

.head {
    background-color:#408BCF;
    text-align : left;
}

.inhalt {
    background-color:#B3D3EF;
    text-align : left;
}*/
    .container {
/*          padding:10px;  */
    }
