@import url(/css/studie.css);

#content h2.top {
    border-left:15px solid rgb(189,138,90);
/*     background:yellow; */
}

#menu ul.navigation li.Level1Active a {
    background: rgb(189,138,90);
}

#menu ul.navigation li.Level1Active ul li a {
    background: rgb(221,199,183);
}
