<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>top-bestellung</title>
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" media="all" title="Standard" />
        <link rel="stylesheet" href="../../css/html/extra_default.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/eed.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/lightbox.css" type="text/css" />
    </head>
    <body>
<!--##begin-->
        <!--$Id: -2051315182.list.tem.html 1272 2008-03-13 13:00:15Z buffy1860 $-->
        <div id="substance">
            #(inhalt)
            <form method="post" action="">
                <fieldset class="kontakt">
                    #(hinweis1)
                    <legend>#(legend_karten)</legend>
                    <input id="top10" class="small" type="text" value="" name="plz" tabindex="1" />
                    <label for="top10" class="label_right">#(top10)</label>
                    <p class="clear"></p>
                    <input id="top50" class="small" type="text" value="" name="plz" tabindex="2" />
                    <label for="top50" class="label_right">#(top50)</label>
                    <p class="clear"></p>
                    #(hinweis2)
                </fieldset>

                <fieldset class="kontakt">
                    <legend>#(legend_adresse)</legend>
                    <label for="surname">#(surname)</label>
                    <input id="surname" class="" type="text" value="" name="surname" tabindex="6" />
                    <label for="forename">#(forename)</label>
                    <input id="forename" class="" type="text" value="" name="forename" tabindex="7" />
                    <label for="strasse">#(strasse)</label>
                    <input id="strasse" class="" type="text" value="" name="strasse" tabindex="8" />
                    <label for="plz">#(plz)</label>
                    <input id="plz" class="small" type="text" value="" name="plz" tabindex="9" />
                    <input id="ort" class="medium" type="text" value="" name="ort" tabindex="10" />
                    <label for="land">#(land)</label>
                    <input id="land" class="" type="text" value="" name="land" tabindex="11" />
                    <label for="email">#(email)</label>
                    <input id="email" class="" type="text" value="" name="email" tabindex="12" />
                    <label for="tel">#(tel)</label>
                    <input id="tel" class="" type="text" value="" name="tel" tabindex="13" />
                </fieldset>

                <fieldset class="kontakt">

                    <label for="nutzung" class="label_right">
                        <input id="nutzung" type="checkbox" value="-1" name="nutzung" tabindex="14" />#(nutzungsbedingung)
                    </label>
                </fieldset>

                <fieldset class="button">
                    <input name="form_referer" type="hidden" value="!#ausgaben_form_referer" class="hidden" />
                    <div class="clearer">&nbsp;</div>
                    <input type="submit" name="send[]" value="g(send)" class="first" tabindex="20" />
                    <input type="reset" name="reset" value="g(reset)" class="next" tabindex="21" />
                    <div class="clearer">&nbsp;</div>
                </fieldset>
            </form>
            #(inhalt2)
        </div>
        #{margin}
<!--##end-->
    </body>
</html>