<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>top-bestellung</title>
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" media="all" title="Standard" />
        <link rel="stylesheet" href="../../css/html/extra_default.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/eed.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/lightbox.css" type="text/css" />
    </head>
    <body>
<!--$Id: -2051315182.list.tem.html 1272 2008-03-13 13:00:15Z buffy1860 $-->
<!--##begin-->
        <div id="substance">
            #(inhalt)
<!--##hide-order_success-->
<p class="error">!{text}</p>
<!--##show-->
<!--##hide-order_form-->
            !#ausgaben_form_error

            <form method="post" action="">
                <fieldset class="kontakt">
                    #(hinweis1)
                    <legend>#(legend_karten)</legend>
                    <input id="top10" class="small" type="text" value="!{top10}" name="top10" tabindex="1" />
                    <label for="top10" class="label_right">#(top10)</label>
                    <p class="clear"></p>
                    <input id="top50" class="small" type="text" value="!{top50}" name="top50" tabindex="2" />
                    <label for="top50" class="label_right">#(top50)</label>
                    <p class="clear"></p>
                    #(hinweis2)
                </fieldset>

                <fieldset class="kontakt">
                    #(hinweis3)
                    <legend>#(legend_karten1)</legend>

                    <input id="ok10" class="small" type="text" value="!{ok10}" name="ok10" tabindex="7" />
                    <label for="ok10" class="label_right">#(ok10)</label>
                    <p class="clear"></p>
                    <input id="top25" class="small" type="text" value="!{top25}" name="top25" tabindex="5" />
                    <label for="top25" class="label_right">#(top25)</label>
                    <p class="clear"></p>
                    <input id="hist_k" class="small" type="text" value="!{histk}" name="histk" tabindex="6" />
                    <label for="hist_k" class="label_right">#(hist_k)</label>
                    <p class="clear"></p>
                    #(hinweis5)
                    <input id="luft_nb" class="small" type="text" value="!{luftnb}" name="luftnb" tabindex="3" />
                    <label for="luft_nb" class="label_right">#(luft_nb)</label>
                    <p class="clear"></p>
                    <input id="luft_op" class="small" type="text" value="!{luftop}" name="luftop" tabindex="4" />
                    <label for="luft_op" class="label_right">#(luft_op)</label>
                    <p class="clear"></p>

                    <input id="luft_mf" class="small" type="text" value="!{luftmf}" name="luftmf" tabindex="4" />
                    <label for="luft_mf" class="label_right">#(luft_mf)</label>
                    <p class="clear"></p>

                    <input id="luft_of" class="small" type="text" value="!{luftof}" name="luftof" tabindex="4" />
                    <label for="luft_of" class="label_right">#(luft_of)</label>
                    <p class="clear"></p>
                    <input id="luft_uf" class="small" type="text" value="!{luftuf}" name="luftuf" tabindex="4" />
                    <label for="luft_uf" class="label_right">#(luft_uf)</label>
                    <p class="clear"></p>

                    <input id="luft_obb" class="small" type="text" value="!{luftobb}" name="luftobb" tabindex="4" />
                    <label for="luft_obb" class="label_right">#(luft_obb)</label>
                    <p class="clear"></p>

                    <input id="luft_sch" class="small" type="text" value="!{luftsch}" name="luftsch" tabindex="4" />
                    <label for="luft_sch" class="label_right">#(luft_sch)</label>
                    <p class="clear"></p>

                    #(hinweis4)
                </fieldset>

                <fieldset class="kontakt">
                    <legend>#(legend_adresse)</legend>
                    <label for="surname">#(surname)</label>
                    <input id="surname" class="" type="text" value="!{surname}" name="surname" tabindex="8" />
                    <label for="forename">#(forename)</label>
                    <input id="forename" class="" type="text" value="!{forename}" name="forename" tabindex="9" />
                    <label for="strasse">#(strasse)</label>
                    <input id="strasse" class="" type="text" value="!{strasse}" name="strasse" tabindex="10" />
                    <label for="plz">#(plz)</label>
                    <input id="plz" class="small" type="text" value="!{plz}" name="plz" tabindex="11" />
                    <input id="ort" class="medium" type="text" value="!{ort}" name="ort" tabindex="12" />
                    <label for="land">#(land)</label>
                    <input id="land" class="" type="text" value="!{land}" name="land" tabindex="13" />
                    <label for="email">#(email)</label>
                    <input id="email" class="" type="text" value="!{email}" name="email" tabindex="14" />
                    <label for="tel">#(tel)</label>
                    <input id="tel" class="" type="text" value="!{tel}" name="tel" tabindex="15" />
                </fieldset>

<!--                <fieldset class="kontakt">

                    <label for="nutzung" class="label_right">
                        <input id="nutzung" type="checkbox" class="radiocheck" value="-1" name="nutzung" tabindex="14" />#(nutzungsbedingung)
                    </label>
                </fieldset>-->

                <fieldset class="button">
                    <input name="form_referer" type="hidden" value="!#ausgaben_form_referer" class="hidden" />
                    <div class="clearer">&nbsp;</div>
                    <input type="submit" name="send[]" value="g(send)" class="first" tabindex="20" />
                    <input type="reset" name="reset" value="g(reset)" class="next" tabindex="21" />
                    <div class="clearer">&nbsp;</div>
                </fieldset>
            </form>
            #(inhalt2)
<!--##show-->
        </div>
        #{margin}
<!--##end-->
    </body>
</html>