<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>presse-liste</title>
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" media="all" title="Standard" />
        <link rel="stylesheet" href="../../css/html/extra_default.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/eed.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/lightbox.css" type="text/css" />
    </head>
    <body>
<!--##begin-->
        <!--$Id: -2051315182.list.tem.html 1272 2008-03-13 13:00:15Z buffy1860 $-->
        <div id="substance" class="wide">
            <!--##hide-changed-->
            <h1>Pressemitteilungen</h1>
            <p style="float:right;text-align:right;font-size:85%">
                <a href="../presse.html">&Uuml;bersicht</a>&nbsp;|&nbsp;<a href="!#environment_ebene/!#environment_kategorie/print.html" target="_blank">Drucken</a>&nbsp;|&nbsp;<a href="">Versenden</a>
            </p>
            <p style="font-size:85%">!{changed}</p>
            <div class="clearer"></div>
            <!--##show-->
            #(inhalt)
            <!--##hide-all-->
            <p style="float:right;text-align:right;font-size:85%">
                <a href="archiv.html">&Uuml;bersicht</a>&nbsp;|&nbsp;<a href="">Drucken</a>&nbsp;|&nbsp;<a href="">Versenden</a>
            </p>
            <p style="font-size:85%">!{changed}</p>
            <div class="clearer"></div>
            !{inhalt}
            <!--##show-->
            <!--##loop-list-->
            <p>!{datum} <a href="!{detaillink}">!{titel_org}</a></p>
            <!--##cont-->
            <!--##hide-changed-->
            <br /><br /><hr /><div style="float:left;text-align:left;font-size:85%">Alexandrastr. 4 <br />80538 München<br />Pressesprecher: Marcus Wandinger</div><div style="float:right;text-align:right;font-size:85%">Telefon: +49 89 2129 1000<br />Fax: +49 89 21292 1324<br /><a href="../../service/kontakt.html">Kontakt</a></a></div>
            <div class="clearer"></div>
            <hr />
            <!--##show-->
            <p class="anchor">
                <a href="#top"><img src="../../images/html/nach_oben.png" alt="zum Seitenanfang" />&nbsp;zum Seitenanfang</a>
            </p>
        </div>

        #{margin}
<!--##end-->
    </body>
</html>
