<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>presse-liste</title>
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" media="all" title="Standard" />
        <link rel="stylesheet" href="../../css/html/extra_default.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/eed.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/lightbox.css" type="text/css" />
    </head>
    <body>
<!--##begin-->
        <!--$Id: -2051315182.list.tem.html 1272 2008-03-13 13:00:15Z buffy1860 $-->
        <div id="substance" class="wide">
            <!--##hide-changed-->
            <h1>Pressemitteilungen</h1>
            <p style="float:right;text-align:right;font-size:85%">
                <a href="../presse.html">&Uuml;bersicht</a>&nbsp;|&nbsp;
                <a href="?print[2]=print" onclick="win_handling('?print[2]=print',0);return false;">Drucken</a>&nbsp;|&nbsp;
                <a href="mailto:?subject=Linkempfehlung&amp;body=http://www.vermessung.bayern.de!#pathvars_uri">Versenden</a>
            </p>
            <p style="font-size:85%">!{changed}</p>
            <div class="clearer"></div>
            <!--##show-->
            #(inhalt)

            <!--##hide-fieldset-->
            <fieldset><legend>#(legend)</legend>#(calendar)
            <!--##show-->
            <!--##hide-anfrage-->
            <div style="line-height:30px;height:30px;background-color:#FEEAAD">
                #(suche)<B>!{suche}</B>!#ausgaben_hit
            </div>
            <span style="float:right">#(back)</span>
            <!--##show-->
            <!--##hide-fieldset-->
            </fieldset>
            <!--##show-->

            <!--##hide-all-->
            <p style="float:right;text-align:right;font-size:85%">
                <a href="archiv.html">&Uuml;bersicht</a>&nbsp;|&nbsp;<a href="">Drucken</a>&nbsp;|&nbsp;<a href="">Versenden</a>
            </p>
            <p style="font-size:85%">!{changed}</p>
            <div class="clearer"></div>
            !{inhalt}
            <!--##show-->
            <!--##loop-list-->
            <p>!{datum} <a href="!{detaillink}">!{titel_org}</a>!{editlink}</p>
            <!--##cont-->
            <!--##hide-changed-->
            <br /><br /><hr />
            <div style="float:left;text-align:left;font-size:85%">
                Alexandrastr. 4 <br />
                80538 M&uuml;nchen<br />
                Pressesprecher: Marcus Wandinger
            </div>
            <div style="float:right;text-align:right;font-size:85%">
                Telefon: +49 89 2129 1000<br />
                Fax: +49 89 21292 1324<br />
                <a href="../../service/kontakt.html">Kontakt</a></a>
            </div>
            <div class="clearer"></div>
            <hr />
            <!--##show-->
            <p class="anchor">
                <a href="#top" class="arrow_up">zum Seitenanfang</a>
            </p>

            <script type="text/javascript">
                function win_handling(url,id) {
                    PrintAnsicht = window.open(url, "Druckausgabe");
                    PrintAnsicht.focus();
                    window.setTimeout("print_pic()", 1000);
                }
                function print_pic(leave_open) {
                    PrintAnsicht.print();
                    PrintAnsicht.close();

                }
                Event.observe(window, 'load',
                    function() {
                        $$('a.print_skizze').each(
                            function(element) {
                                new Effect.BlindDown(element,{duration:0.3});
                            }
                        );
                    }
                );
            </script>
        </div>

        #{margin}
<!--##end-->
    </body>
</html>
