<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>termine-liste</title>
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" media="all" title="Standard" />
        <link rel="stylesheet" href="../../css/html/extra_default.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/eed.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/lightbox.css" type="text/css" />
    </head>
    <body>
<!--##begin-->
        <!--$Id: -2051315182.list.tem.html 1272 2008-03-13 13:00:15Z buffy1860 $-->
        <div id="substance" class="wide">
            #(inhalt)
            <!--##hide-newlink-->
            <p><a href="!{link}">g(new)</a></p>
            <!--##show-->

<!-- LIST -->
            <!--##hide-list-->
            !#ausgaben_row
            <!--##show-->
<!-- LIST -->

<!-- DETAIL -->
            <!--##hide-detail-->
            <p style="float:right;text-align:right;font-size:85%">
                <a href="/auth/aktuell/termine.html">&Uuml;bersicht</a>&nbsp;|&nbsp;<a href="">Drucken</a>&nbsp;|&nbsp;<a href="">Versenden</a>
            </p>
            <table width="100%">
            <!--##show-->
                <!--##loop-detail-->
                <tr><td style="width:20%;">!{desc}</td><td>!{name}</td></tr>
                <!--##cont-->
            <!--##hide-detail-->
            </table>
            <!--##show-->
            <!--##hide-detail_all-->
            <br />
            !{tet}
            <!--##show-->
<!-- DETAIL -->

<!-- ADD -->
            <!--##hide-add-->
            <form method="post" action="!#ausgaben_form_aktion">
                <fieldset>
                    <label for="lang">#(name)</label><input class="medium" type="text" name="NAME" value="!{name}"/><br /><br />
                    <label for="lang">#(termin_bg)</label><input class="medium" type="text" name="SORT" value="!{termin}"/><br /><br />
                    <label for="lang">#(termin_en)</label><input class="medium" type="text" name="TERMIN" value="!{termin_en}"/><br /><br />
                    <label for="lang">#(ort)</label><input class="medium" type="text" name="ORT" value="!{ort}"/><br /><br />
                    <label for="lang">#(veranstalter)</label><select type="text" name="VERANSTALTER" value="!{veranstalter}">
                    <option>LVG</option><option>VA</option><option>FM</option></select><br /><br />
<!--                     <label for="lang">#(beschreibung)</label><input type="text" name="BESCHREIBUNG" value="!{beschreibung}"/><br /><br /> -->
                    <label for="lang">#(beschreibung)</label><textarea name="BESCHREIBUNG"/>!{beschreibung}</textarea><br /><br />
                    <input type="hidden" name="wizard" value="!{wizard}"/><br /><br />
                    <input type="submit" name="send[]"  value="g(send)" class="first" />
                    <input type="hidden" name="link"  value="!{link}"/>
                </fieldset>
            </form>
            <!--##show-->
        </div>
<!-- ADD -->
        #{margin}
<!--##end-->
    </body>
</html>
