<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>default</title>
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" media="all" title="Standard" />
        <link rel="stylesheet" href="../../css/html/extra_default.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/eed.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/lightbox.css" type="text/css" />
    </head>
    <body>
<!--##begin-->
        <!--$Id: -2051315182.list.tem.html 1272 2008-03-13 13:00:15Z buffy1860 $-->
        <div id="substance">
            #(inhalt)
            <form method="post" action="!#ausgaben_form_aktion" class="wide">
                <!--##hide-form_error-->
                <fieldset class="error">
                    <p>!#ausgaben_form_error</p>
                </fieldset>
                <!--##show-->

                <fieldset class="formular1">
                    <legend>#(amt_wechseln)</legend>
                    <label class="halb">
                        <select id="amt_wechseln" class="medium" name="amt_wechseln" tabindex="100">
                            <!--##loop-amt-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                    </label>
                    <label class="halb">
                        <input type="submit" name="chg_amt" value="g(send)" class="next" tabindex="101" />
                    </label>
                </fieldset>

                <fieldset class="formular">
                    <legend>#(legend_adresse)</legend>
                    <label for="forename" class="">
                        #(forename)
                    </label>
                    <input id="forename" class="" type="text" value="!#ausgaben_forename" name="person[forename]" tabindex="1" />
                    <label for="surname" class="">
                        #(surname)
                    </label>
                    <input id="surname" class="" type="text" value="!#ausgaben_surname" name="person[surname]" tabindex="2" />
                    <label for="strasse" class="">
                        #(strasse)
                    </label>
                    <input id="strasse" class="" type="text" value="!#ausgaben_strasse" name="person[strasse]" tabindex="3" />
                    <label for="plz" class="" style="clear:left;">
                        #(plz), #(ort)
                    </label>
                    <input id="plz" class="small" type="text" value="!#ausgaben_plz" name="person[plz]" tabindex="4" />
                    <input id="ort" class="medium" type="text" value="!#ausgaben_ort" name="person[ort]" tabindex="5" />
                    <label for="telefon" class="">
                        #(tel)
                    </label>
                    <input id="telefon" class="" type="text" value="!#ausgaben_tel" name="person[tel]" tabindex="6" />
                    <label for="email" class="">
                        #(email)
                    </label>
                    <input id="email" class="" type="text" value="!#ausgaben_email" name="person[email]" tabindex="7" />
                </fieldset>

                <!--##hide-lageplan-->
                <fieldset class="formular">
                    <legend>#(legend_bestellung)</legend>
                    <div style="">
                        <label for="flst_0" class="">
                            #(flst)
                        </label>
                        <input id="flst_0" class="small" type="text" value="!{flst_0}" name="order[0][flst]" tabindex="10" />
                        <label for="gmkg_0" class="">
                            #(gmkg)
                        </label>
                        <select id="gmkg_0" class="medium" name="order[0][gmkg]" tabindex="11">
                            <option value="">bitte w&auml;hlen</option>
                            <!--##loop-gmkg_0-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <label for="anzahl_0" class="" style="clear:left;">
                            #(num)
                        </label>
                        <select id="anzahl_0" class="medium" name="order[0][anzahl]" tabindex="12">
                            <!--##loop-anzahl_0-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <label for="massstab_0" class="">
                            #(massstab)
                        </label>
                        <select id="massstab_0" class="medium" name="order[0][massstab]" tabindex="13">
                            <!--##loop-massstab_0-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <div class="clear"></div>
                        <label class="">
                            #(beglaubigung)
                        </label>
                        <div style="float:left;">
                            <!--##loop-begl_0-->
                            <label><input type="radio" class="radiocheck" name="order[0][begl]" value="!{value}" tabindex="14"!{check} />!{item}</label>
                            <!--##cont-->
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div style="margin-top:10px;padding-top:10px;border-top:1px solid #CCCCCC;">
                        <label for="flst_1" class="">
                            #(flst)
                        </label>
                        <input id="flst_1" class="small" type="text" value="!{flst_1}" name="order[1][flst]" tabindex="15" />
                        <label for="gmkg_1" class="">
                            #(gmkg)
                        </label>
                        <select id="gmkg_1" class="medium" name="order[1][gmkg]" tabindex="16">
                            <option value="">bitte w&auml;hlen</option>
                            <!--##loop-gmkg_1-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <label for="anzahl_1" class="" style="clear:left;">
                            #(num)
                        </label>
                        <select id="anzahl_1" class="medium" name="order[1][anzahl]" tabindex="17">
                            <!--##loop-anzahl_1-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <label for="massstab_1" class="">
                            #(massstab)
                        </label>
                        <select id="massstab_1" class="medium" name="order[1][massstab]" tabindex="18">
                            <!--##loop-massstab_1-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <div class="clear"></div>
                        <label class="">
                            #(beglaubigung)
                        </label>
                        <div style="float:left;">
                            <!--##loop-begl_1-->
                            <label><input type="radio" class="radiocheck" name="order[1][begl]" value="!{value}" tabindex="19"!{check} />!{item}</label>
                            <!--##cont-->
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div style="margin-top:10px;padding-top:10px;border-top:1px solid #CCCCCC;">
                        <label for="flst_2" class="">
                            #(flst)
                        </label>
                        <input id="flst_2" class="small" type="text" value="!{flst_2}" name="order[2][flst]" tabindex="20" />
                        <label for="gmkg_2" class="">
                            #(gmkg)
                        </label>
                        <select id="gmkg_2" class="medium" name="order[2][gmkg]" tabindex="21">
                            <option value="">bitte w&auml;hlen</option>
                            <!--##loop-gmkg_2-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <label for="anzahl_2" class="" style="clear:left;">
                            #(num)
                        </label>
                        <select id="anzahl_2" class="medium" name="order[2][anzahl]" tabindex="22">
                            <!--##loop-anzahl_2-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <label for="massstab_2" class="">
                            #(massstab)
                        </label>
                        <select id="massstab_2" class="medium" name="order[2][massstab]" tabindex="23">
                            <!--##loop-massstab_2-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <div class="clear"></div>
                        <label class="">
                            #(beglaubigung)
                        </label>
                        <div style="float:left;">
                            <!--##loop-begl_2-->
                            <label><input type="radio" class="radiocheck" name="order[2][begl]" value="!{value}" tabindex="24"!{check} />!{item}</label>
                            <!--##cont-->
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div style="margin-top:12px;border-top:1px solid #CCCCCC;">
                        <label for="sonder" class="ganz">
                            #(spezial)
                        </label>
                        <textarea id="sonder" name="sonder" tabindex="25" rows="3" cols="100">!#ausgaben_sonder</textarea>
                    </div>
                </fieldset>

                <fieldset class="formular">
                    <label class="ganz">
                        #(versand)
                    </label>
                    <div class="clear"></div>
                    <label class="ganz"><input type="radio" class="radiocheck" name="versand" value="0" tabindex="26"!{versand_no_check} />#(versand_no)</label>
                    <label class="ganz"><input type="radio" class="radiocheck" name="versand" value="-1" tabindex="28"!{versand_yes_check} />#(versand_yes)</label>
                    <label class="ganz">
                        #(versand_adresse)
                        <textarea name="versand_adresse" tabindex="27" rows="3" cols="100">!#ausgaben_versand_adresse</textarea>
                    </label>
                </fieldset>
                <!--##show-->

                <!--##hide-vektor-->
                <fieldset class="formular">
                    <legend>#(legend_bestellung)</legend>
                    <div style="">
                        <label for="flst_0" class="">
                            #(flst)
                        </label>
                        <input id="flst_0" class="small" type="text" value="!{flst_0}" name="order[0][flst]" tabindex="10" />
                        <label for="gmkg_0" class="">
                            #(gmkg)
                        </label>
                        <select id="gmkg_0" class="medium" name="order[0][gmkg]" tabindex="11">
                            <option value="">bitte w&auml;hlen</option>
                            <!--##loop-gmkg_0-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <label for="format_0" class="">
                            #(format)
                        </label>
                        <select id="format_0" class="medium" name="order[0][format]" tabindex="12">
                            <!--##loop-format_0-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <label for="umgriff_0" class="">
                            #(umgriff)
                        </label>
                        <input id="umgriff_0" class="small" type="text" value="!{umgriff_0}" name="order[0][umgriff]" tabindex="13" />
                        <label class="">
                            #(add_beglaubigung)
                        </label>
                        <div style="float:left;">
                            <!--##loop-add_begl_0-->
                            <label><input type="radio" class="radiocheck" name="order[0][add_begl]" value="!{value}" tabindex="14"!{check} />!{item}</label>
                            <!--##cont-->
                        </div>
                        <label for="massstab_0" class="">
                            #(massstab)
                        </label>
                        <select id="massstab_0" class="medium" name="order[0][massstab]" tabindex="15">
                            <!--##loop-massstab_0-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <label for="anzahl_0" class="">
                            #(num)
                        </label>
                        <select id="anzahl_0" class="medium" name="order[0][anzahl]" tabindex="16">
                            <!--##loop-anzahl_0-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <div class="clear"></div>
                    </div>

                    <div style="margin-top:10px;padding-top:10px;border-top:1px solid #CCCCCC;">
                        <label for="flst_1" class="">
                            #(flst)
                        </label>
                        <input id="flst_1" class="small" type="text" value="!{flst_1}" name="order[1][flst]" tabindex="17" />
                        <label for="gmkg_1" class="">
                            #(gmkg)
                        </label>
                        <select id="gmkg_1" class="medium" name="order[1][gmkg]" tabindex="18">
                            <option value="">bitte w&auml;hlen</option>
                            <!--##loop-gmkg_1-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <label for="format_1" class="">
                            #(format)
                        </label>
                        <select id="format_1" class="medium" name="order[1][format]" tabindex="19">
                            <!--##loop-format_1-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <label for="umgriff_1" class="">
                            #(umgriff)
                        </label>
                        <input id="umgriff_1" class="small" type="text" value="!{umgriff_1}" name="order[1][umgriff]" tabindex="20" />
                        <label class="">
                            #(add_beglaubigung)
                        </label>
                        <div style="float:left;">
                            <!--##loop-add_begl_1-->
                            <label><input type="radio" class="radiocheck" name="order[1][add_begl]" value="!{value}" tabindex="21"!{check} />!{item}</label>
                            <!--##cont-->
                        </div>
                        <label for="massstab_1" class="">
                            #(massstab)
                        </label>
                        <select id="massstab_1" class="medium" name="order[1][massstab]" tabindex="22">
                            <!--##loop-massstab_1-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <label for="anzahl_1" class="">
                            #(num)
                        </label>
                        <select id="anzahl_1" class="medium" name="order[1][anzahl]" tabindex="23">
                            <!--##loop-anzahl_1-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <div class="clear"></div>
                    </div>

                    <div style="margin-top:10px;padding-top:10px;border-top:1px solid #CCCCCC;">
                        <label for="flst_2" class="">
                            #(flst)
                        </label>
                        <input id="flst_2" class="small" type="text" value="!{flst_2}" name="order[2][flst]" tabindex="24" />
                        <label for="gmkg_2" class="">
                            #(gmkg)
                        </label>
                        <select id="gmkg_2" class="medium" name="order[2][gmkg]" tabindex="25">
                            <option value="">bitte w&auml;hlen</option>
                            <!--##loop-gmkg_2-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <label for="format_2" class="">
                            #(format)
                        </label>
                        <select id="format_2" class="medium" name="order[2][format]" tabindex="26">
                            <!--##loop-format_2-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <label for="umgriff_2" class="">
                            #(umgriff)
                        </label>
                        <input id="umgriff_2" class="small" type="text" value="!{umgriff_2}" name="order[2][umgriff]" tabindex="27" />
                        <label class="">
                            #(add_beglaubigung)
                        </label>
                        <div style="float:left;">
                            <!--##loop-add_begl_2-->
                            <label><input type="radio" class="radiocheck" name="order[2][add_begl]" value="!{value}" tabindex="28"!{check} />!{item}</label>
                            <!--##cont-->
                        </div>
                        <label for="massstab_2" class="">
                            #(massstab)
                        </label>
                        <select id="massstab_2" class="medium" name="order[2][massstab]" tabindex="29">
                            <!--##loop-massstab_2-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <label for="anzahl_2" class="">
                            #(num)
                        </label>
                        <select id="anzahl_2" class="medium" name="order[2][anzahl]" tabindex="30">
                            <!--##loop-anzahl_2-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <div class="clear"></div>
                    </div>

                    <div style="margin-top:10px;border-top:1px solid #CCCCCC;">
                        <label for="sonder" class="ganz">
                            #(spezial)
                        </label>
                        <textarea id="sonder" name="sonder" tabindex="31" rows="3" cols="100">!#ausgaben_sonder</textarea>
                    </div>
                </fieldset>

                <fieldset class="formular">
                    <label class="ganz">
                        #(versand)
                    </label>
                    <div class="clear"></div>
                    <label class="ganz"><input type="radio" class="radiocheck" name="versand" value="0" tabindex="32"!{versand_no_check} />#(versand_no)</label>
                    <label class="ganz"><input type="radio" class="radiocheck" name="versand" value="-1" tabindex="33"!{versand_yes_check} />#(versand_yes)</label>
                    <label for="versand_adresse" class="ganz">
                        #(versand_adresse)
                    </label>
                    <textarea id="versand_adresse" name="versand_adresse" tabindex="34" rows="3" cols="100">!#ausgaben_versand_adresse</textarea>
                </fieldset>
                <!--##show-->

                <!--##hide-masszahlen-->
                <fieldset class="formular">
                    <legend>#(legend_bestellung)</legend>
                    <h3>Ma&szlig;zahlen</h3>

                    <div style="">
                        <label for="flst_0" class="">
                            #(flst)
                        </label>
                        <input id="flst_0" class="small" type="text" value="!{flst_0}" name="masszahlen[0][flst]" tabindex="10" />
                        <label for="gmkg_0" class="">
                            #(gmkg)
                        </label>
                        <select id="gmkg_0" class="medium" name="masszahlen[0][gmkg]" tabindex="11">
                            <option value="">bitte w&auml;hlen</option>
                            <!--##loop-gmkg_0-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <label for="din_0" class="">
                            #(format)
                        </label>
                        <select id="din_0" class="medium" name="masszahlen[0][din]" tabindex="12">
                            <!--##loop-din_0-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <label class="">
                            #(add_beglaubigung)
                        </label>
                        <div class="" style="float:left;">
                            <!--##loop-add_begl_0-->
                            <label><input type="radio" class="radiocheck" name="masszahlen[0][add_begl]" value="!{value}" tabindex="1,"!{check} />!{item}</label>
                            <!--##cont-->
                        </div>
                        <label for="massstab_0" class="viertel">
                            #(massstab)
                        </label>
                        <select id="massstab_0" class="medium" name="masszahlen[0][massstab]" tabindex="14">
                            <!--##loop-massstab_0-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <label for="anzahl_0" class="viertel">
                            #(num)
                        </label>
                        <select id="anzahl_0" class="medium" name="masszahlen[0][anzahl]" tabindex="15">
                            <!--##loop-anzahl_0-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <div class="clear"></div>
                    </div>

                    <div style="margin-top:10px;padding-top:10px;border-top:1px solid #CCCCCC;">
                        <label for="flst_1" class="">
                            #(flst)
                        </label>
                        <input id="flst_1" class="small" type="text" value="!{flst_1}" name="masszahlen[1][flst]" tabindex="16" />
                        <label for="gmkg_1" class="">
                            #(gmkg)
                        </label>
                        <select id="gmkg_1" class="medium" name="masszahlen[1][gmkg]" tabindex="17">
                            <option value="">bitte w&auml;hlen</option>
                            <!--##loop-gmkg_1-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <label for="din_1" class="">
                            #(format)
                        </label>
                        <select id="din_1" class="medium" name="masszahlen[1][din]" tabindex="18">
                            <!--##loop-din_1-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <label class="">
                            #(add_beglaubigung)
                        </label>
                        <div class="" style="float:left;">
                            <!--##loop-add_begl_1-->
                            <label><input type="radio" class="radiocheck" name="masszahlen[1][add_begl]" value="!{value}" tabindex="19"!{check} />!{item}</label>
                            <!--##cont-->
                        </div>
                        <label for="massstab_1" class="viertel">
                            #(massstab)
                        </label>
                        <select id="massstab_1" class="medium" name="masszahlen[1][massstab]" tabindex="20">
                            <!--##loop-massstab_1-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <label for="anzahl_1" class="viertel">
                            #(num)
                        </label>
                        <select id="anzahl_1" class="medium" name="masszahlen[1][anzahl]" tabindex="21">
                            <!--##loop-anzahl_1-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <div class="clear"></div>
                    </div>

                    <div style="margin-top:10px;padding-top:10px;border-top:1px solid #CCCCCC;">
                        <label for="flst_2" class="">
                            #(flst)
                        </label>
                        <input id="flst_2" class="small" type="text" value="!{flst_2}" name="masszahlen[2][flst]" tabindex="22" />
                        <label for="gmkg_2" class="">
                            #(gmkg)
                        </label>
                        <select id="gmkg_2" class="medium" name="masszahlen[2][gmkg]" tabindex="23">
                            <option value="">bitte w&auml;hlen</option>
                            <!--##loop-gmkg_2-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <label for="din_2" class="">
                            #(format)
                        </label>
                        <select id="din_2" class="medium" name="masszahlen[2][din]" tabindex="24">
                            <!--##loop-din_2-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <label class="">
                            #(add_beglaubigung)
                        </label>
                        <div class="" style="float:left;">
                            <!--##loop-add_begl_2-->
                            <label><input type="radio" class="radiocheck" name="masszahlen[2][add_begl]" value="!{value}" tabindex="25"!{check} />!{item}</label>
                            <!--##cont-->
                        </div>
                        <label for="massstab_2" class="viertel">
                            #(massstab)
                        </label>
                        <select id="massstab_2" class="medium" name="masszahlen[2][massstab]" tabindex="26">
                            <!--##loop-massstab_2-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <label id="anzahl_2" class="viertel">
                            #(num)
                        </label>
                        <select id="anzahl_2" class="medium" name="masszahlen[2][anzahl]" tabindex="27">
                            <!--##loop-anzahl_2-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <div class="clear"></div>
                    </div>


                    <h3>Koordinaten</h3>
                    <div style="">
                        <label for="koordFlst_0" class="">
                            #(flst)
                        </label>
                        <input id="koordFlst_0" class="small" type="text" value="!{flst_0}" name="koordinaten[0][flst]" tabindex="28" />
                        <label for="koordGmkg_0" class="">
                            #(gmkg)
                        </label>
                        <select id="koordFlst_0" class="medium" name="koordinaten[0][gmkg]" tabindex="29">
                            <option value="">bitte w&auml;hlen</option>
                            <!--##loop-gmkg_0-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <div class="clear"></div>
                        <label for="koordList_0">#(list)!{item}</label>
                        <input id="koordList_0" type="checkbox" class="radiocheck" name="koordinaten[0][list]" value="ja" tabindex="30"!#ausgaben_check_list_0 />
                        <label for="koordDisc_0">#(disc)!{item}</label>
                        <input id="koordDisc_0" type="checkbox" class="radiocheck" name="koordinaten[0][disc]" value="ja" tabindex="31"!#ausgaben_check_disk_0 />
                        <div class="clear"></div>
                    </div>

                    <div style="margin-top:10px;padding-top:10px;border-top:1px solid #CCCCCC;">
                        <label for="koordFlst_1" class="">
                            #(flst)
                        </label>
                        <input id="koordFlst_1" class="small" type="text" value="!{flst_1}" name="koordinaten[1][flst]" tabindex="32" />
                        <label for="koordGmkg_1" class="">
                            #(gmkg)
                        </label>
                        <select id="koordGmkg_1" class="medium" name="koordinaten[1][gmkg]" tabindex="33">
                            <option value="">bitte w&auml;hlen</option>
                            <!--##loop-gmkg_1-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <div class="clear"></div>
                        <label for="koordList_1">#(list)!{item}</label>
                        <input id="koordList_1" type="checkbox" class="radiocheck" name="koordinaten[1][list]" value="ja" tabindex="34"!#ausgaben_check_list_1 />
                        <label for="koordDisc_1">#(disc)!{item}</label>
                        <input id="koordDisc_1" type="checkbox" class="radiocheck" name="koordinaten[1][disc]" value="ja" tabindex="37"!#ausgaben_check_disk_1 />
                        <div class="clear"></div>
                    </div>

                    <div style="margin-top:10px;padding-top:10px;border-top:1px solid #CCCCCC;">
                        <label for="koordFlst_2" class="">
                            #(flst)
                        </label>
                        <input id="koordFlst_2" class="small" type="text" value="!{flst_2}" name="koordinaten[2][flst]" tabindex="36" />
                        <label for="koordGmkg_2" class="">
                            #(gmkg)
                        </label>
                        <select for="koordGmkg_2" class="medium" name="koordinaten[2][gmkg]" tabindex="37">
                            <option value="">bitte w&auml;hlen</option>
                            <!--##loop-gmkg_2-->
                            <option value="!{value}"!{sel}>!{item}</option>
                            <!--##cont-->
                        </select>
                        <div class="clear"></div>
                        <label for="koordList_2">#(list)!{item}</label>
                        <input id="koordList_2" type="checkbox" class="radiocheck" name="koordinaten[2][list]" value="ja" tabindex="38"!#ausgaben_check_list_2 />
                        <label for="koordDisc_2">#(disc)!{item}</label>
                        <input id="koordDisc_2" type="checkbox" class="radiocheck" name="koordinaten[2][disc]" value="ja" tabindex="39"!#ausgaben_check_disk_2 />
                        <div class="clear"></div>
                    </div>
                </fieldset>

                <fieldset class="formular">
                    <label class="ganz">
                        #(versand)
                    </label>
                    <label class="ganz"><input type="radio" class="radiocheck" name="versand" value="0" tabindex="40"!{versand_no_check} />#(versand_no)</label>
                    <label class="ganz"><input type="radio" class="radiocheck" name="versand" value="-1" tabindex="41"!{versand_yes_check} />#(versand_yes)</label>
                    <label for="versand_adresse" class="ganz">
                        #(versand_adresse)
                    </label>
                    <textarea id="versand_adresse" name="versand_adresse" tabindex="46" rows="3" cols="100">!#ausgaben_versand_adresse</textarea>
                </fieldset>
                <!--##show-->

                <fieldset class="formular1">
                    <label class="halb">
                        <input type="submit" name="send[]" value="g(send)" class="" tabindex="50" />
                    </label>
                    <label class="halb">
                        <input type="reset" name="reset" value="g(reset)" class="" tabindex="51" />
                    </label>
                    <div class="clearer">&nbsp;</div>
                </fieldset>
            </form>
            !#ausgaben_output
        </div>
        #{margin}
<!--##end-->
    </body>
</html>
