<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>artikel-liste</title>
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" media="all" title="Standard" />
        <link rel="stylesheet" href="../../css/html/extra_default.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/eed.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/lightbox.css" type="text/css" />
    </head>
    <body>
<!--##begin-->
        <!--$Id: -2051315182.list.tem.html 1272 2008-03-13 13:00:15Z buffy1860 $-->
        <p>!#ausgaben_form_error</p>
        <!--##hide-new-->
            <form action="/auth/admin/bloged/add.html" method="post">
            <input type="submit" value="g(new)" name="blog"/>
            <input type="hidden" name="link" value="!{link}"/>
            <input type="hidden" name="kategorie" value="!{kategorie}"/>
            </form>
        <!--##show-->
        <!--##hide-all-->
        <p style="float:right;text-align:right;font-size:85%"><a href="">Drucken</a>&nbsp;|&nbsp;<a href="">Versenden</a>&nbsp;|&nbsp;<a href="">Kontakt</a></p>
        <p style="font-size:85%">!{changed}</p>
        <div class="clearer"></div>
        <!--##show-->
        <!--##hide-all-->
        !{inhalt}
        <!--##show-->
        <!--##loop-list-->
        <h3><a href="!{allink}">!{titel_org}</a></h3>
        <p>!{editlink} !{deletelink}</p>
        <!--##cont-->
<!--##end-->
    </body>
</html>
