<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>faq-liste</title>
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" media="all" title="Standard" />
        <link rel="stylesheet" href="../../css/html/extra_default.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/eed.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/lightbox.css" type="text/css" />
    </head>
    <body>
<!--##begin-->
        <script type="text/javascript">
            function anzeigen(id) {
                f="ls_"+id;
                buffer = document.getElementsByClassName('open');
                if ( buffer[0] ) {
                    if ( buffer[0].id != id ) {
                        new Effect.BlindUp(buffer[0].id, {duration: 0.5});
                        new Effect.BlindDown(id, {duration: 0.5});
                        $(buffer[0].id).removeClassName('open');
                        $(id).addClassName('open');
                    }
                } else {
                    new Effect.BlindDown(id, {duration: 0.5})
                    $(id).addClassName('open');
                }
                return false;
            }
        </script>
        <ul>
        <!--##loop-list-->
            <li  style="list-style:none;margin:0">
                <div><b><a id="ls_!{id}" style="display: block; cursor: pointer" title="Klicken zum &Ouml;ffnen und Schlie&szlig;en" onclick="anzeigen('!{id}')">!{titel_org}</a></b></div>
                <div id="!{id}" style="display:none; padding-left:25px">!{div_before}!{faq}<div>!{div_after_org}</div></div>
            </li>
        <!--##cont-->
        </ul>
<!--##end-->
    </body>
</html>
