<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>faq-liste</title>
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" media="all" title="Standard" />
        <link rel="stylesheet" href="../../css/html/extra_default.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/eed.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/lightbox.css" type="text/css" />
    </head>
    <body>
<!--##begin-->
        <script type="text/javascript">
            function anzeigen(id) {
                show = document.getElementById(id).style.display;
                f="ls_"+id;
                if ( show == 'none' ) {
                    document.getElementById(f).style.background='url(/images/html/minuszeichen.jpg) left -5px no-repeat';
                    new Effect.BlindDown(id, {duration: 0.1});
                } else {
                    new Effect.BlindUp(id, {duration: 0.1})
                    document.getElementById(f).style.background='url(/images/html/pluszeichen.jpg) left -5px no-repeat';
                }
                return false;
            }
        </script>
        <ul>
        <!--##loop-list-->
            <li  style="list-style:none;margin:0">
                !{rubric}
                <div><b><a id="ls_faq_!{id}" style="cursor: pointer; background: url(/images/html/pluszeichen.jpg) left -5px no-repeat; padding-left:25px" title="Klicken zum &Ouml;ffnen und Schlie&szlig;en" onclick="anzeigen('faq_!{id}')">!{titel_org}</a></b></div>
                <div id="faq_!{id}" style="display:none; padding-left:25px">!{faq}</div>
            </li>
        <!--##cont-->
        </ul>
<!--##end-->
    </body>
</html>
