<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
<title>bloged.list</title>
<link rel="stylesheet" href="../../css/default/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/default/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--##begin-->
<!--$Id: -2051315182.list.tem.html 1272 2008-03-13 13:00:15Z buffy1860 $-->
<div id="substance">
<h1>#(ueberschrift)</h1>
<p>#(inhalt)</p>
<p>!#ausgaben_form_error</p>
<!--##hide-new-->
<p><a href="!{link}">g(new)</a></p>
<!--##show-->
<!--##loop-list-->
<div>
<h2>!{titel}</h2>
<img style="float:right" src=/file/picture/thumbnail/tn_!{image}></img>!{teaser}<a href="!{detaillink}">&nbsp;Artikel lesen</a>
<p>!{editlink} !{deletelink}</p>
<div class="clearer"></div>
</div>
<!--##cont-->
</div>
<!--<p style="float:left">g(anzahl) !#ausgaben_anzahl</p>
<p style="float:right">!#ausgaben_inhalt_selector</p>
<p>!#ausgaben_output</p>
<p>!#ausgaben_inaccessible</p>-->

<div id="margin">
    <h1>&nbsp;</h1>
    !#ausgaben_calendar
    g(left)
    <!--##hide-hidden_menu-->
    g(hidden_menu)
    <!--##show-->
</div>
<!--##end-->
</body>
</html>
