<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>faq-liste</title>
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" media="all" title="Standard" />
        <link rel="stylesheet" href="../../css/html/extra_default.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/eed.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/lightbox.css" type="text/css" />
    </head>
    <body>
<!--##begin-->
        <!--##hide-new-->
        <form action="/auth/admin/bloged/add.html" method="post">
            <input class ="button" type="submit" value="Neuer FAQ - Eintrag" name="blog"/>
            <input type="hidden" name="link" value="!{link}"/>
            <input type="hidden" name="kategorie" value="!{kategorie}"/>
            <input type="hidden" name="special" value="!{kategorie}"/>
        </form>
        <!--##show-->
        <ul>
            <!--##loop-list-->
            <li style="padding:0;">
                <div id="ls_faq_!{id}" style="background: url(/images/html/wizard-icon-frage.png) no-repeat right top rgb(254, 234, 173);padding:20px 4px 4px; position: relative;">
                    <b>!{titel_org}</b>
                    <p class=buttons>
                        <a class="button" href="!{titel_wizard_edit_link}">Frage bearbeiten</a>
                    </p>
                </div>
                <div id="ls_faq_!{id}" style="background: url(/images/html/wizard-icon-antwort.png) no-repeat right top rgb(255, 243, 207);padding:20px 4px 4px; position: relative;">
                    <ul>
                        <li style="background-color:rgb(255, 243, 207)">
                            !{div_before_org}
                            <p class=buttons>
                                <a class="button" href="!{div_before_wizard_edit_link}">Antwort bearbeiten</a>
                            </p>
                        </li>
                        <li style="background-color:rgb(255, 243, 207)">
                            !{faq}
                            <p class=buttons>
                                <a class="button" href="!{faq_wizard_edit_link}">Liste bearbeiten</a>
                            </p>
                        </li>
                        <li style="background-color:rgb(255, 243, 207)">
                            !{div_after_org}
                            <p class=buttons>
                                <a class="button" href="!{div_after_wizard_edit_link}">Antwort bearbeiten</a>
                            </p>
                        </li>
                    </ul>
                </div>
                <p class=buttons style="background-color:rgb(254, 234, 173);margin:0;">
                    <a class="button" href="!{sort_up}">FAQ-Eintrag nach oben</a>
                    <a class="button" href="!{sort_down}">FAQ-Eintrag nach unten</a> !{deletelink}
                </p>
            </li>
            <!--##cont-->
        </ul>
<!--##end-->
    </body>
</html>
