<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>top-bestellung</title>
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" media="all" title="Standard" />
        <link rel="stylesheet" href="../../css/html/extra_default.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/eed.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/lightbox.css" type="text/css" />
    </head>
    <body>
<!--$Id: 965077567.newsletter.tem.html 1272 2008-03-13 13:00:15Z buffy1860 $-->
<!--##begin-->
        <div id="substance">
            #(inhalt1)
            <!--##hide-error-->
            <p style="color:red">!#ausgaben_form_error</p>
            <!--##show-->

            <!--##hide-newsletter-->
            <form method="post" class="formular" action="anmeldung_2010,,verify.html" method="post" name="letter"/>
            <fieldset class="kontakt">
                    #(hinweis1)
                    <label>Anrede</label><div class="anrede">!#element_anrede</div>
                    <div class="clear"></div>
                    <label>Titel</label>!#element_titel
                    <div class="clear"></div>
                    <label>Name*</label>!#element_name
                    <div class="clear"></div>
                    <label>Vorname*</label>!#element_vorname
                    <div class="clear"></div>
                    <label>Firma</label>!#element_firma
                    <div class="clear"></div>
                    <label>Funktion</label>!#element_funktion
                    <div class="clear"></div>
                    <label>Strasse</label>!#element_strasse
                    <div class="clear"></div>
                    <label>Ort*</label>!#element_ort
                    <div class="clear"></div>
                    <label>E-Mail*</label>!#element_email
                    <div class="clear"></div>
<!--                    <legend>E-Mail Adresse</legend>
                    <input id="mail" class="" type="text" value="" name="email" tabindex="1" />-->
                    <p class="clear"></p>
                </fieldset>

                <input type="hidden" value="eintragen" checked = "" name="ac" />

                    <!--##show-->
                    <!--##hide-captcha-->
                    <fieldset class="formular">
                    #(hinweis2)
                    <img title="captcha" alt="captcha" src="!{url}" /><br />
                    <input type="text" value="" name="captcha" class="" id="captcha" />
                    <input name="captcha_proof" type="hidden" value="!{proof}" class="hidden" />
                     </fieldset>
                    <!--##show-->
                    <!--##hide-newsletter-->


                <input type="hidden" name="cat" value="allg_news">


                <fieldset class="button">
                    <input name="form_referer" type="hidden" value="!#ausgaben_form_referer" class="hidden" />
                    <div class="clearer">&nbsp;</div>
                    <button type="submit" name="btn" value="senden" class="first" tabindex="20">Abschicken</button>
                    <button type="reset" name="reset" value="g(reset)" class="next" tabindex="21" />g(reset)</button>
                    <div class="clearer">&nbsp;</div>
                </fieldset>
            </form>
            <!--##show-->
            #(inhalt)
        </div>
        #{margin}
<!--##end-->
    </body>
</html>