<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>kontakt</title>
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" media="all" title="Standard" />
        <link rel="stylesheet" href="../../css/html/extra_default.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/eed.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/lightbox.css" type="text/css" />
    </head>
    <body>
<!--##begin-->
        <!--$Id: -2051315182.list.tem.html 1272 2008-03-13 13:00:15Z buffy1860 $-->
        <div id="substance">
            <form method="post" action="!#ausgaben_form_aktion">
                <p>!#ausgaben_form_error</p>
                #(kopf)
                <fieldset class="kontakt">
                    <legend>#(legend_adressat)</legend>
                    <label for="an">#(an)</label>
                    !#element_an
                    <label for="betreff">#(betreff)</label>
                    !#element_betreff
                    <label for="mitteilung">#(mitteilung)</label>
                    !#element_mitteilung
                </fieldset>

                <fieldset class="kontakt">
                    #(hinweis)
                    <legend>#(legend_absender)</legend>
                    <label for="name">#(name)</label>
                    !#element_name
                    <label for="strasse">#(strasse)</label>
                    !#element_strasse
                    <label for="plz">#(plz)</label>
                    !#element_plz !#element_ort
                    <label for="land">#(land)</label>
                    !#element_land
                    <label for="e-mail">#(email)</label>
                    !#element_e-mail
                    <label for="tel">#(tel)</label>
                    !#element_tel
<!--                     !#element_send -->
                    <label for="send" class="label_right">
                        <input id="send" type="checkbox" value="-1" name="send"/>#(send)
                    </label>
                </fieldset>

                <fieldset class="button">
                    <input name="form_referer" type="hidden" value="!#ausgaben_form_referer" class="hidden" />
                    <div class="clearer">&nbsp;</div>
                    <input type="submit" name="send[]" value="g(send)" class="first" />
                    <input type="reset" name="reset" value="g(reset)" class="next" />
            <!--        <input type="button" name="abort" value="g(abort)" onclick="location='!#ausgaben_form_break'" class="next" />-->
                    <div class="clearer">&nbsp;</div>
                </fieldset>
                #(inhalt)
                <div class="clearer">&nbsp;</div>
                <p>!#ausgaben_inaccessible</p>
            </form>
        </div>
        #{margin}
<!--##end-->
    </body>
</html>