<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>Neues Internet</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" />
    </head>

    <body>

<!--##begin-->
    <div id="substance" class="admin">
        <div style="padding:0 5px;">

            <div class="admin_head" style="">
                <!--##hide-authTools-->
                <p style="">#(vorher) <b>!#ausgaben_user</b></p>
                <!--##show-->
                <h1>#(ueberschrift)</h1>
                <div class="clearer"></div>
<!--                <h1>#(ueberschrift)</h1>
                <div class="clearer"></div>
                &nbsp;
                <div class="clearer"></div>-->
            </div>

            #(inhalt)

            <div class="box" style="float:right;width:240px;overflow:hidden;">

                <!--##hide-authTools-->
<!--                 <p><b><a href="!#ausgaben_back_link">#(back)</a></b></p> -->
                <h3>#(groups)</h3>
                <ul>
                <!--##loop-groups-->
                    <li>!{groups}</li>
                <!--##cont-->
                </ul>
                <h3>#(desc)</h3>
                <ul>
                <!--##loop-authTools-->
                    <li><a href="!{url}" title="!{title}">!{label}!{end}</a></li>
                <!--##cont-->
                </ul>
                <!--##show-->

                <!--##hide-authArea-->
                <form method="post" action="!#ausgaben_auth_url">
                <!--##show-->

                    <!--##hide-authLogin-->
                    <h3>#(login)</h3>
                    <p><b><a href="!#ausgaben_back_link">#(back)</a></b></p>
                    <fieldset class="buttons">
                        <input type="hidden" name="form_referer" value="!#ausgaben_form_referer" />
                        <label style="clear:both;float:left;padding:3px 0;">Benutzer</label>
                        <input type="text" name="user" style="float:right;width:130px;font-size:inherit;" />
                        <label style="clear:both;float:left;padding:3px 0;">Passwort</label>
                        <input type="password" name="pass" style="float:right;width:130px;font-size:inherit;" /><br />
                        <input style="clear:both;float:right;width:134px;" type="submit" name="login" value="login" />
                    </fieldset>
                    <!--##show-->

                    <!--##hide-authLogout-->
                    <fieldset class="buttons">
                        <input type="submit" name="logout" value="logout" />
                    </fieldset>
                    <!--##show-->

                <!--##hide-authArea-->
                </form>
                <!--##show-->
            </div>
<!--             !#ausgaben_adminbild -->

<!--##hide-adminbild-->
            <div class="box">
                #(adminbild)
                <div class="clearer"></div>
            </div>
                <!--##show-->

<!--##hide-artikel_section-->
            <div class="box" style="position:relative;">
                <form action="/auth/admin/bloged/add.html" method="post" style="">
                    <h2 style="float:left;">!{heading}</h2>
                    <div style="float:right;margin:1.5em 5px 0 0;">
                        <input type="submit" value="Neueintrag" name="blog"/>
                        <input type="hidden" name="link" value="/aktuell/archiv"/>
                        <input type="hidden" name="kategorie" value="/aktuell/archiv"/>
                    </div>
                </form>
                <div class="clearer" style="clear:left;"></div>
<!--##show-->
<!--##hide-artikel_edit-->
                <h3 onclick="anzeigen('edit_artikel');" id="trigger_edit_artikel" class="trigger" style="background-image:url(/images/html/pluszeichen.jpg);">#(edit)</h3>
                <ul id="edit_artikel" style="display:none;overflow:hidden;list-style:none;margin:3px;padding:1px;border:1px solid #CCCCCC;width:auto;">
                    <!--##loop-artikel_edit-->
                    <li style="background-color:!{color};margin:0;padding:0.2em;">
                        <span style="float:right;text-align:right;display:block;">
                            <a href="!{view}" style="display:block;" title="Pfad: !{path}">Vorschau</a>
                            <a href="!{edit}" style="display:block;" title="Seite bearbeiten">Bearbeiten</a>
                            <a href="!{del}" style="display:block;" title="Seite bearbeiten">Löschen</a>
                        </span>
                        <b>!{titel}</b><br />
                        (Autor: !{author})<br />
                        (letzte Version von: !{last_author})
                        <div class="clearer"></div>
                    </li>
                    <!--##cont-->
                </ul>
<!--##show-->


<!--##hide-artikel_release-->
                <h3 onclick="anzeigen('release_artikel');" id="trigger_release_artikel" class="trigger" style="background-image:url(/images/html/pluszeichen.jpg);">#(release)</h3>
                <ul id="release_artikel" style="display:none;overflow:hidden;list-style:none;margin:3px;padding:1px;border:1px solid #CCCCCC;width:auto;">
                    <!--##loop-artikel_release-->
                    <li style="background-color:!{color};margin:0;padding:0.2em;">
                        <span style="float:right;text-align:right;display:block;">
                            <a href="!{view}" style="display:block;" title="Pfad: !{path}">Vorschau</a>
                            <a href="!{edit}" style="display:block;" title="Seite bearbeiten">Bearbeiten</a>
                            <a href="!{release}" style="display:block;" title="Seite freigeben">Freigabe</a>
                            <a href="!{history}" style="display:block;" title="Pfad: !{path}">Versionen</a>
                            <a href="!{unlock}" style="display:block;" title="Seite entsperren">Entsperren</a>
                        </span>
                        <b>!{titel}</b><br />
                        (Autor: !{author})<br />
                        (letzte Version von: !{last_author})
                        <div class="clearer"></div>
                    </li>
                    <!--##cont-->
                </ul>
<!--##show-->
<!--##hide-artikel_section-->
            </div>
<!--##show-->
<!--##hide-lokal_artikel_section-->
            <div class="box">
                <form action="/auth/admin/bloged/add.html" method="post" style="">
                    <h2 style="float:left;">Lokale Artikel</h2>
                    <div style="float:right;margin:1.5em 5px 0 0;">
                        <select name="kategorie">
<!--##show-->
<!--##loop-artikel_aemter-->
                            <option value="!{url}/index">!{name}</option>
<!--##cont-->
<!--##hide-lokal_artikel_section-->
                        </select>
                        <input type="hidden" name="link" value="/aktuell/archiv"/>
                        <input type="submit" value="Neueintrag" name="termin"></input>
                    </div>
                </form>
                <div class="clearer" style="clear:left;"></div>
<!--##show-->
<!--##hide-lokal_artikel_edit-->

                <h3 onclick="anzeigen('lokal_artikel');" id="trigger_lokal_artikel" class="trigger" style="background-image:url(/images/html/pluszeichen.jpg);">#(edit)</h3>
                <ul id="lokal_artikel" style="display:none;verflow:hidden;list-style:none;margin:3px;padding:1px;border:1px solid #CCCCCC;width:auto;">
                    <!--##loop-lokal_artikel_edit-->
                    <li style="background-color:!{color};margin:0;padding:0.2em;">
                        <span style="float:right;text-align:right;display:block;">
                            <a href="!{view}" style="display:block;" title="Pfad: !{path}">Vorschau</a>
                            <a href="!{edit}" style="display:block;" title="Seite bearbeiten">Bearbeiten</a>
                            <a href="!{del}" style="display:block;" title="Seite bearbeiten">Löschen</a>
                        </span>
                        <b>!{titel} (!{amt})</b><br />
                        (Autor: !{author})<br />
                        (letzte Version von: !{last_author})
                        <div class="clearer"></div>
                    </li>
                    <!--##cont-->
                </ul>

<!--##show-->
<!--##hide-lokal_artikel_section-->
            </div>
<!--##show-->


<!--##hide-termine_section-->
            <div class="box">
                <form action="/auth/admin/bloged/add.html" method="post" style="">
                    <h2 style="float:left;">!{heading}</h2>
                    <div style="float:right;margin:1.5em 5px 0 0;">
                        <input type="submit" value="Neueintrag" name="blog"/>
                        <input type="hidden" name="link" value="/aktuell/termine"/>
                        <input type="hidden" name="kategorie" value="/aktuell/termine"/>
                    </div>
                </form>
                <div class="clearer" style="clear:left;"></div>
<!--##show-->
<!--##hide-termine_edit-->
                <h3 onclick="anzeigen('edit_termine');" id="trigger_edit_termine" class="trigger" style="background-image:url(/images/html/pluszeichen.jpg);">#(edit)</h3>
                <ul id="edit_termine" style="display:none;verflow:hidden;list-style:none;margin:3px;padding:1px;border:1px solid #CCCCCC;width:auto;">
                    <!--##loop-termine_edit-->
                    <li style="background-color:!{color};margin:0;padding:0.2em;">
                        <span style="float:right;text-align:right;display:block;">
                            <a href="!{view}" style="display:block;" title="Pfad: !{path}">Vorschau</a>
                            <a href="!{edit}" style="display:block;" title="Seite bearbeiten">Bearbeiten</a>
                            <a href="!{del}" style="display:block;" title="Seite bearbeiten">Löschen</a>
                        </span>
                        <b>!{ext}</b><br />
                        (Autor: !{author})<br />
                        (letzte Version von: !{last_author})
                        <div class="clearer"></div>
                    </li>
                    <!--##cont-->
                </ul>
<!--##show-->
<!--##hide-termine_release-->
                <h3 onclick="anzeigen('release_termine');" id="trigger_release_termine" class="trigger" style="background-image:url(/images/html/pluszeichen.jpg);">#(release)</h3>
                <ul id="release_termine" style="display:none;verflow:hidden;list-style:none;margin:3px;padding:1px;border:1px solid #CCCCCC;width:auto;">
                    <!--##loop-termine_release-->
                    <li style="background-color:!{color};margin:0;padding:0.2em;">
                        <span style="float:right;text-align:right;display:block;">
                            <a href="!{view}" style="display:block;" title="Pfad: !{path}">Vorschau</a>
                            <a href="!{edit}" style="display:block;" title="Seite bearbeiten">Bearbeiten</a>
                            <a href="!{release}" style="display:block;" title="Seite freigeben">Freigabe</a>
                            <a href="!{history}" style="display:block;" title="Pfad: !{path}">Versionen</a>
                            <a href="!{unlock}" style="display:block;" title="Seite entsperren">Entsperren</a>
                        </span>
                        <b>!{titel}</b><br />
                        (Autor: !{author})<br />
                        (letzte Version von: !{last_author})
                        <div class="clearer"></div>
                    </li>
                    <!--##cont-->
                </ul>
<!--##show-->
<!--##hide-termine_section-->
            </div>
<!--##show-->


<!--##hide-lokal_termine_section-->
            <div class="box">
                <form action="/auth/admin/bloged/add.html" method="post" style="">
                    <h2 style="float:left;">Lokale Termine</h2>
                    <div style="float:right;margin:1.5em 5px 0 0;">
                        <select name="kategorie">
<!--##show-->
<!--##loop-artikel_aemter-->
                            <option value="!{url}/index">!{name}</option>
<!--##cont-->
<!--##hide-lokal_artikel_section-->
                        </select>
                        <input type="hidden" name="link" value="/aktuell/termine"/>
                        <input type="submit" value="Neueintrag" name="termin"></input>
                    </div>
                </form>
                <div class="clearer" style="clear:left;"></div>
<!--##show-->
<!--##hide-lokal_termine_edit-->
                <h3 onclick="anzeigen('lokal_termine');" id="trigger_lokal_termine" class="trigger" style="background-image:url(/images/html/pluszeichen.jpg);">#(edit)</h3>
                <ul id="lokal_termine" style="display:none;verflow:hidden;list-style:none;margin:3px;padding:1px;border:1px solid #CCCCCC;width:auto;">
                    <!--##loop-lokal_termine_edit-->
                    <li style="background-color:!{color};margin:0;padding:0.2em;">
                        <span style="float:right;text-align:right;display:block;">
                            <a href="!{view}" style="display:block;" title="Pfad: !{path}">Vorschau</a>
                            <a href="!{edit}" style="display:block;" title="Seite bearbeiten">Bearbeiten</a>
                            <a href="!{del}" style="display:block;" title="Seite bearbeiten">Löschen</a>
                        </span>
                        <b>!{ext} (!{amt})</b><br />
                        (Autor: !{author})<br />
                        (letzte Version von: !{last_author})
                        <div class="clearer"></div>
                    </li>
                    <!--##cont-->
                </ul>

<!--##show-->
<!--##hide-lokal_termine_section-->
            </div>
<!--##show-->
<!--##hide-presse_section-->
            <div class="box">
                <form action="/auth/admin/bloged/add.html" method="post" style="">
                    <h2 style="float:left;">!{heading}</h2>
                    <div style="float:right;margin:1.5em 5px 0 0;">
                        <input type="submit" value="Neueintrag" name="blog"/>
                        <input type="hidden" name="link" value="/aktuell/presse"/>
                        <input type="hidden" name="kategorie" value="/aktuell/presse"/>
                    </div>
                </form>
                <div class="clearer" style="clear:left;"></div>
<!--##show-->
<!--##hide-presse_edit-->
                <h3 onclick="anzeigen('edit_presse');" id="trigger_edit_presse" class="trigger" style="background-image:url(/images/html/pluszeichen.jpg);">#(edit)</h3>
                <ul id="edit_presse" style="display:none;verflow:hidden;list-style:none;margin:3px;padding:1px;border:1px solid #CCCCCC;width:auto;">
                    <!--##loop-presse_edit-->
                    <li style="background-color:!{color};margin:0;padding:0.2em;">
                        <span style="float:right;text-align:right;display:block;">
                            <a href="!{view}" style="display:block;" title="Pfad: !{path}">Vorschau</a>
                            <a href="!{edit}" style="display:block;" title="Seite bearbeiten">Bearbeiten</a>
                            <a href="!{del}" style="display:block;" title="Seite bearbeiten">Löschen</a>
                        </span>
                        <b>!{titel}</b><br />
                        (Autor: !{author})<br />
                        (letzte Version von: !{last_author})
                        <div class="clearer"></div>
                    </li>
                    <!--##cont-->
                </ul>
<!--##show-->
<!--##hide-presse_release-->
                <h3 onclick="anzeigen('release_presse');" id="trigger_release_presse" class="trigger" style="background-image:url(/images/html/pluszeichen.jpg);">#(release)</h3>
                <ul id="release_presse" style="display:none;verflow:hidden;list-style:none;margin:3px;padding:1px;border:1px solid #CCCCCC;width:auto;">
                    <!--##loop-presse_release-->
                    <li style="background-color:!{color};margin:0;padding:0.2em;">
                        <span style="float:right;text-align:right;display:block;">
                            <a href="!{view}" style="display:block;" title="Pfad: !{path}">Vorschau</a>
                            <a href="!{edit}" style="display:block;" title="Seite bearbeiten">Bearbeiten</a>
                            <a href="!{release}" style="display:block;" title="Seite freigeben">Freigabe</a>
                            <a href="!{history}" style="display:block;" title="Pfad: !{path}">Versionen</a>
                            <a href="!{unlock}" style="display:block;" title="Seite entsperren">Entsperren</a>
                        </span>
                        <b>!{titel}</b><br />
                        (Autor: !{author})<br />
                        (letzte Version von: !{last_author})
                        <div class="clearer"></div>
                    </li>
                    <!--##cont-->
                </ul>
<!--##show-->
<!--##hide-presse_section-->
            </div>
<!--##show-->

<!--##hide-lokal_presse_section-->
            <div class="box">
                <form action="/auth/admin/bloged/add.html" method="post" style="">
                    <h2 style="float:left;">Lokale Pressemitteilungen</h2>
                    <div style="float:right;margin:1.5em 5px 0 0;">
                        <select name="kategorie">
<!--##show-->
<!--##loop-artikel_aemter-->
                            <option value="!{url}/index">!{name}</option>
<!--##cont-->
<!--##hide-lokal_presse_section-->
                        </select>
                        <input type="hidden" name="link" value="/aktuell/presse"/>
                        <input type="submit" value="Neueintrag" name="termin"></input>
                    </div>
                </form>
                <div class="clearer" style="clear:left;"></div>
<!--##show-->
<!--##hide-lokal_presse_edit-->

                <h3 onclick="anzeigen('lokal_presse');" id="trigger_lokal_presse" class="trigger" style="background-image:url(/images/html/pluszeichen.jpg);">#(edit)</h3>
                <ul id="lokal_presse" style="display:none;verflow:hidden;list-style:none;margin:3px;padding:1px;border:1px solid #CCCCCC;width:auto;">
                    <!--##loop-lokal_presse_edit-->
                    <li style="background-color:!{color};margin:0;padding:0.2em;">
                        <span style="float:right;text-align:right;display:block;">
                            <a href="!{view}" style="display:block;" title="Pfad: !{path}">Vorschau</a>
                            <a href="!{edit}" style="display:block;" title="Seite bearbeiten">Bearbeiten</a>
                            <a href="!{del}" style="display:block;" title="Seite bearbeiten">Löschen</a>
                        </span>
                        <b>!{titel} (!{amt})</b><br />
                        (Autor: !{author})<br />
                        (letzte Version von: !{last_author})
                        <div class="clearer"></div>
                    </li>
                    <!--##cont-->
                </ul>

<!--##show-->

<!--##hide-lokal_presse_section-->
            </div>
<!--##show-->


<!--##hide-content_section-->
            <div class="box">
                <h2>!{heading}</h2>
                <p>
                    <a href="/auth/admin/bloged/add,273.html">!{new}</a>
                </p>
<!--##show-->
<!--##hide-content_edit-->
                <h3 onclick="anzeigen('edit_content');" id="trigger_edit_content" class="trigger" style="background-image:url(/images/html/pluszeichen.jpg);">#(edit)</h3>
                <ul id="edit_content" style="display:none;verflow:hidden;list-style:none;margin:3px;padding:1px;border:1px solid #CCCCCC;width:auto;">
                    <!--##loop-content_edit-->
                    <li style="background-color:!{color};margin:0;padding:0.2em;">
                        <span style="float:right;text-align:right;display:block;">
                            <a href="!{view}" style="display:block;" title="Pfad: !{path}">Vorschau</a>
                            <a href="!{edit}" style="display:block;" title="Seite bearbeiten">Bearbeiten</a>
                            <a href="!{del}" style="display:block;" title="Seite bearbeiten">Löschen</a>
                        </span>
                        <b>!{titel}</b><br />
                        (Autor: !{author})<br />
                        (letzte Version von: !{last_author})
                        <div class="clearer"></div>
                    </li>
                    <!--##cont-->
                </ul>
<!--##show-->
<!--##hide-content_release-->
                <h3 onclick="anzeigen('release_content');" id="trigger_release_content" class="trigger" style="background-image:url(/images/html/pluszeichen.jpg);">#(release)</h3>
                <ul id="release_content" style="display:none;verflow:hidden;list-style:none;margin:3px;padding:1px;border:1px solid #CCCCCC;width:auto;">
                    <!--##loop-content_release-->
                    <li style="background-color:!{color};margin:0;padding:0.2em;">
                        <span style="float:right;text-align:right;display:block;">
                            <a href="!{view}" style="display:block;" title="Pfad: !{path}">Vorschau</a>
                            <a href="!{edit}" style="display:block;" title="Seite bearbeiten">Bearbeiten</a>
                            <a href="!{release}" style="display:block;" title="Seite freigeben">Freigabe</a>
                            <a href="!{history}" style="display:block;" title="Pfad: !{path}">Versionen</a>
                            <a href="!{unlock}" style="display:block;" title="Seite entsperren">Entsperren</a>
                        </span>
                        <b>!{titel}</b><br />
                        (Autor: !{author})<br />
                        (letzte Version von: !{last_author})
                        <div class="clearer"></div>
                    </li>
                    <!--##cont-->
                </ul>
<!--##show-->
<!--##hide-content_section-->
            </div>
<!--##show-->



<!--##hide-menu_edit-->
<div class="box">
<h2 onclick="anzeigen('content_edit');" id="trigger_content_edit" class="trigger" style="background-image:url(/images/html/!#ausgaben_zeichen);">Inhaltsbereiche</h2><a name="content_edit"></a>
<ul id="content_edit" style="display:!#ausgaben_display;verflow:hidden;list-style:none;margin:3px;padding:1px;border:1px solid #CCCCCC;width:auto;">
<!--##show-->
<!--##hide-back-->
<li style="background-color:#FFFFFF;margin: 0pt; padding: 0.2em"><a href="!{link}">nach oben</a></li>
<!--##show-->
<!--##hide-menu_edit-->
!#ausgaben_edmenu
</ul>
</div>
<!--##show-->
<!--##hide-authLogout-->
            <div class="clearer"></div>
            <div style="float:left;width:250px;display:none;">
                <div class="box">
                    <h3>Neue Inhalte erfassen</h3>
                    <ul class="no-style">
                        <li><a href="/auth/admin/bloged/add,273.html">Artikel</a></li>
                        <li><a href="/auth/admin/bloged/add,265.html">Pressemitteilung</a></li>
                        <li><a href="/auth/admin/bloged/add,264.html">Termin</a></li>
                    </ul>
                </div>
                <div class="box">
                    <h3>Freigabe</h3>
                    <ul class="no-style">
                        <li><a href="/auth/wizard/release.html">Auf freizugebende Seiten pr&uuml;fen</a></li>
                    </ul>
                </div>
            </div>
<!--##show-->

            <script type="text/javascript">
                function anzeigen(id) {
                    if ( $(id).style.display == 'none' ) {
                        $('trigger_' + id).style.backgroundImage = 'url(/images/html/minuszeichen.jpg)';
                        new Effect.BlindDown(id, {duration: 0.3});
//                         new Effect.ScrollTo($('trigger_' + id).up(0));
                    } else {
                        $('trigger_' + id).style.backgroundImage = 'url(/images/html/pluszeichen.jpg)';
                        new Effect.BlindUp(id, {duration: 0.3});
//                         new Effect.ScrollTo('head');
                    }
                    return false;
                }
            </script>


            <div class="clearer"></div>
            !#ausgaben_output
            !#ausgaben_inaccessible

        </div>
    </div>
<!--##end-->

    </body>
</html>
