<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>aktuell</title>
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" media="all" title="Standard" />
        <link rel="stylesheet" href="../../css/html/extra_default.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/eed.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/lightbox.css" type="text/css" />
    </head>
    <body>
<!--##begin-->
        <!--$Id: -2051315182.list.tem.html 1272 2008-03-13 13:00:15Z buffy1860 $-->
        <div id="substance" class="wide">
            <!--##hide-changed-->
<!--            <p style="float:right;text-align:right;font-size:85%">
                <a href="?print[2]=print">Drucken</a>&nbsp;|&nbsp;<a href="">Versenden</a>&nbsp;|&nbsp;<a href="">Kontakt</a>
            </p>
            <p style="font-size:85%">!{changed}</p>-->
            <!--##show-->
            #(inhalt)
            !#ausgaben_output

<!--             <fieldset><legend>#(legend)</legend>#(calendar) -->
            <!--##hide-anfrage-->
            <div style="line-height:30px;height:30px;background-color:#FEEAAD">
                #(suche)<B>!{suche}</B>!#ausgaben_hit
            </div>
            <span style="float:right">#(back)</span>
            <!--##show-->
<!--             </fieldset> -->
            <div class="clearer"></div>

            <!--##hide-artikel-->
            <h2>Meldungen</h2>
            <!--##show-->

            <!--##loop-artikel-->
            <div style="margin-top:0px" class="single_news">
                !{datum}<h2>!{titel_org}</h2>
                <img src="/file/!{image_img_art}/!{image_img_id}/s/test.png" alt="!{titel_org}" style="width:150px;border-style:solid;border-width:1px;border-color:#BBD3EF;"></img>
                <p>!{teaser_org}</p>
                <p><a href="!{detaillink}" title="!{titel_org}">Beitrag lesen</a></p>
                <p>!{editlink} !{deletelink}</p>
                <div class="clearer"></div>
            </div>
            <!--##cont-->

            <!--##loop-more_artikel-->
            <div>
                !{datum} <a href="!{detaillink}">!{titel_org}</a>
                <div class="clearer"></div>
            </div>
            <!--##cont-->
            <!--##hide-artikel-->
            <span style="float:right">#(uebersicht_artikel)</span>
            <hr />
            <!--##show-->

            <!--##hide-termine-->
            <h2 style="margin-top:0px">Termine</h2>
            <!--##show-->
            <!--##loop-termine-->
            <div>
                !{datum} <a href="!{detaillink}">!{titel}</a>
                <div class="clearer"></div>
            </div>
            <!--##cont-->
            <!--##hide-termine-->
            <span style="float:right">#(uebersicht_termine)</span>
            <hr />
            <!--##show-->

            <!--##hide-presse-->
            <h2 style="margin-top:0px">Pressemitteilungen</h2>
            <!--##show-->
            <!--##loop-presse-->
            <div>
                !{datum} <a href="!{detaillink}">!{titel_org}</a>
                <div class="clearer"></div>
            </div>
            <!--##cont-->
            <!--##hide-presse-->
            <span style="float:right">#(uebersicht_presse)</span>
            <hr />
            <!--##show-->

            <p class="anchor">
                <a href="#top" class="arrow_up">zum Seitenanfang</a>
            </p>
        </div>
        #{margin}
<!--##end-->
    </body>
</html>
