<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>aemter-seite</title>
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" media="all" title="Standard" />
        <link rel="stylesheet" href="../../css/html/extra_default.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/eed.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/lightbox.css" type="text/css" />
    </head>
    <body>
<!--##begin-->
        <div id="substance" class="wide">
            <h1>
                !#ausgaben_amt
                <!--##hide-aussenstelle-->
                #(ast)&nbsp;!{ast}
                <!--##show-->
            </h1>
            <p class="amt_banner" style="background:url('../../images/html/dienststellen.jpg') no-repeat bottom;">
                <!--##loop-stellen-->
                <img src="!{src}" alt="!{amt}" title="!{amt}" style="display:!{display}" />
                <!--##cont-->
            </p>

            <!--##hide-sub_menu-->
            <div class="sub_menu" style="display:none;">
                <p>
                    <b><a href="index.html">&Uuml;bersicht</a></b>
                    <a href="standort.html">Standortanzeige</a><br />
                    <a href="ansprech.html">Ansprechpartner</a><br />
                    #(connection)<br />
                    <a href="amtsbezirk.html">Amtsbezirk</a><br />
                    <a href="amtschronik.html">Historisches</a><br />
                    <a href="info.html">Informationen f&uuml;r behinderte Menschen</a><br />
                </p>
            </div>
            <!--##show-->

            <!--##hide-sub_menu-->
            <p>
                <a href="!{link}" class="">zurück</a>
            </p>
            <!--##show-->

            <!--##hide-heading-->
            <h2>!{heading}</h2>
            <!--##show-->

            <!--##hide-aussenstelle-->
            <div class="tabbed">
                <ul>
                    <!--##loop-stellen-->
                    <li><a class="!{class}" href="!#environment_kategorie,!{akz}.html">!{amt}</a></li>
                    <!--##cont-->
                </ul>
            </div>
            <!--##show-->

            <!--##hide-index-->
            <!--##loop-stellen-->
            <div class="amt_info_box" id="info_!{akz}" style="display:!{display}">
                <div title="Anschrift">
                    <img src="../../images/html/icon_adresse.jpg" title="Adresse:" alt="Adresse:" />
                    <span>!{str}</span>
                    <span>!{plz} !{ort}</span>
                </div>
                <div title="Telefon">
                    <img src="../../images/html/icon_telefon.jpg" title="Telefon:" alt="Telefon:" />
                    <span>!{tel}</span>
                </div>
                <div class="clear"></div>
                <div title="&Ouml;ffnungszeiten">
                    <img src="../../images/html/icon_zeit.jpg" title="&Ouml;ffnungszeiten:" alt="&Ouml;ffnungszeiten:" />
                    <span>
                        !{oeffnung}
                    </span>
                </div>
                <div title="Fax">
                    <img src="../../images/html/icon_fax.jpg" title="Fax:" alt="Fax:" />
                    <span>!{fax}</span>
                </div>
                <div class="clear"></div>
                <div title="E-Mail">
                    <img src="../../images/html/icon_email.jpg" title="E-Mail:" alt="E-Mail:" />
                    <span><a href="kontakt,!{akz}.html">Kontakt</a></span>
                </div>
                <div title="Standort">
                    <img src="../../images/html/icon_lage.jpg" title="Standort:" alt="Standort:" />
                    <span><a href="standort,!{akz}.html" id="cont01-title">#(standort)</a></span>
                </div>
                <div class="clear"></div>
                <div title="Ansprechpartner">
                    <img src="../../images/html/icon_ansprech.jpg" title="#(ansprech):" alt="#(ansprech):" />
                    <span><a href="ansprech,!{akz}.html">#(ansprech)</a></span>
                </div>
                <div title="Verbindungen">
                    <img src="../../images/html/icon_verbindungen.jpg" title="#(connection):" alt="#(connection):" />
                    <span><a href="http://bayerninfo.de/">#(connection)</a></span>
                </div>
                <div class="clear"></div>
                <div title="Amtsbezirk, Amtschronik">
                    <img src="../../images/html/icon_info.jpg" title="#(bezirk):" alt="#(bezirk):" />
                    <span><a href="amtsbezirk,!{akz}.html">#(bezirk)</a></span>
                </div>
                <div title="Informationen">
                    <img src="../../images/html/icon_behindert.jpg" title="#(handicap):" alt="#(handicap):" />
                    <span><a href="info,!{akz}.html" id="cont02-title">#(handicap)</a></span>
                </div>
                <div class="clear"></div>
                #(extend_info_box)
            </div>
            <div class="clear"></div>
            <!--##cont-->
            <!--##show-->

            <!--##hide-artikel-->
            <!--##show-->

            <!--##hide-gal_sel-->
            <!--##loop-stellen-->
            <div class="amt_info_box" style="display:!{display};">
                <div title="Anschrift">
                    <img src="../../images/html/icon_adresse.jpg" title="Adresse:" alt="Adresse:" />
                    <span>!{str}</span>
                    <span>!{plz} !{ort}</span>
                </div>
                <div title="Bayernviewer">
                    <img src="../../images/html/icon_anfahrt.jpg" title="Bayernviewer:" alt="Bayernviewer:" />
                    <span><a href="!{viewer}">Das Vermessungsamt im BayernViewer</a></span>
                </div>
                <div class="clear"></div>
                <a href="../../images/html/aemter/va!{akz}_anfahrt1.gif" title="Anfahrtskizze 1" rel="lightbox[skizze]" style="width:100px;height:100px;display:block;float:left;margin:5px;border:1px solid silver;background: url('../../images/html/aemter/va!{akz}_anfahrt1.gif') center center no-repeat;">
                </a>
                <a href="../../images/html/aemter/va!{akz}_anfahrt2.gif" title="Anfahrtskizze 2" rel="lightbox[skizze]" style="width:100px;height:100px;display:block;float:left;margin:5px;border:1px solid silver;background: url('../../images/html/aemter/va!{akz}_anfahrt2.gif') center center no-repeat;">
                </a>
                <a href="../../images/html/aemter/va!{akz}_anfahrt3.gif" title="Anfahrtskizze 3" rel="lightbox[skizze]" style="width:100px;height:100px;display:block;float:left;margin:5px;border:1px solid silver;background: url('../../images/html/aemter/va!{akz}_anfahrt3.gif') center center no-repeat;">
                </a>
                <div class="clear"></div>
                <p><a href="standort,!{akz},print.html">Print-Ansicht</a></p>
            </div>
            <!--##cont-->
            <!--##show-->

            <!--##hide-gal_print-->
            <!--##loop-stellen-->
            <div class="amt_info_box" style="display:!{display};">
                <div title="Anschrift">
                    <img src="../../images/html/icon_adresse.jpg" title="Adresse:" alt="Adresse:" />
                    <span>!{str}</span>
                    <span>!{plz} !{ort}</span>
                </div>
                <div title="Bayernviewer">
                    <img src="../../images/html/icon_anfahrt.jpg" title="Bayernviewer:" alt="Bayernviewer:" />
                    <span><a href="!{viewer}">Das Vermessungsamt im BayernViewer</a></span>
                </div>
                <div class="clear"></div>
                <h3>Anfahrtskizzen</h3>
                <img src="../../images/html/aemter/va!{akz}_anfahrt1.gif" alt="Anfahrtskizze 1" style="border:1px solid #CCCCCC;padding:2px;" />
                <img src="../../images/html/aemter/va!{akz}_anfahrt2.gif" alt="Anfahrtskizze 2" style="border:1px solid #CCCCCC;padding:2px;" />
                <img src="../../images/html/aemter/va!{akz}_anfahrt3.gif" alt="Anfahrtskizze 3" style="border:1px solid #CCCCCC;padding:2px;" />
                <div class="clear"></div>
                <p><a href="standort,!{akz}.html">Galerie-Ansicht</a></p>
            </div>
            <!--##cont-->
            <!--##show-->

            <!--##hide-bezirk-->
            <!--##loop-stellen-->
            <div class="amt_info_box" style="display:!{display};">
                <h3>Der Amtsbezirk</h3>
                <ul>
                    <li>
                        <a href="../../images/html/aemter/va!{akz}_amtsbezirk.gif" rel="lightbox[]" title="Der Amtsbezirk des !#ausgaben_amt als &Uuml;bersichtskarte">
                            als &Uuml;bersichtskarte
                        </a>
                    </li>
                    <li>
                        <a href="../../images/html/aemter/va!{akz}.pdf">
                            im pdf-Format
                        </a>
                    </li>
                </ul>
                <h3>Gemeinden und Gemarkungen</h3>
                <table width="100%" summary="&Uuml;bersicht der zum Amt geh&ouml;renden Gemeinden und ihren Gemarkungen">
                    <thead>
                        <tr style="">
                            <th>Gemeinde</th>
                            <th>Gemeindefreie Gebiete</th>
                            <th>Gemarkungen</th>
                        </tr>
                    </thead>
                    <tbody>
                        !{gmkg}
                    </tbody>
                </table>
            </div>
            <!--##cont-->
            <!--##show-->

            <!--##hide-info-->
            <!--##loop-stellen-->
            <div class="amt_info_box" style="display:!{display};">
                !{behinderte}
            </div>
            <!--##cont-->
            <div class="clear"></div>
            <!--##show-->

            <!--##hide-ansprech-->
            <!--##loop-stellen-->
            <div class="amt_info_box" style="display:!{display};">
                <p>!{beleg_img}</p>
                <table width="100%" summary="&Uuml;bersicht der zum Amt geh&ouml;renden Gemeinden und ihren Gemarkungen">
                    <thead>
                        <tr style="">
                            <th style="width:33%;">Bereich</th>
                            <th style="width:33%;">Partner</th>
                            <th style="width:33%;">Telefon</th>
                        </tr>
                    </thead>
                    <tbody>
                        !{ansprech}
                    </tbody>
                </table>
            </div>
            <!--##cont-->
            !{inhalt}
            !{wizard}
            <div class="clear"></div>
            <!--##show-->

            <!--##hide-amtschronik-->
            #(amtschronik)
            !{inhalt}
            !{wizard}
            <div class="clear"></div>
            <!--##show-->

            #(inhalt)
            !#ausgaben_neuigkeiten
<!--             !#ausgaben_artikel -->


            <!--##hide-artikel-->
            <h2>Meldungen</h2>
            <!--##show-->

            <!--##loop-artikel-->
            <div style="margin-top:0px" class="single_news">
                !{datum}<h2>!{titel_org}</h2>
                <img src="/file/!{image_img_art}/!{image_img_id}/s/test.png" alt="!{titel_org}"></img>
                <p>!{teaser_org}</p>
                <p><a href="artikel,,!{id}.html" title="!{titel_org}">Beitrag lesen</a></p>
                <p>!{editlink} !{deletelink}</p>
                <div class="clearer"></div>
            </div>
            <!--##cont-->
            <!--##loop-artikel2-->
            <p>!{datum} <a href="artikel,,!{id}.html">!{titel_org}</a>!{editlink}</p>
            <!--##cont-->

            <!--##hide-artikel-->
            <span style="float:right">#(uebersicht_artikel)</span>
            <hr />
            <!--##show-->

            <!--##hide-presse-->
            <h2>Pressemitteilungen</h2>
            <!--##show-->

            <!--##loop-presse-->
            <p>!{datum} <a href="presse,,!{id}.html">!{titel_org}</a>!{editlink}</p>
            <!--##cont-->

            <!--##hide-presse-->
            <span style="float:right">#(uebersicht_presse)</span>
            <hr />
            <!--##show-->

            <!--##hide-termine-->
            <h2>Termine</h2>
            <!--##show-->

            <!--##loop-termine-->
            <p>!{datum} <a href="termine,,!{id},all.html">!{termine_org}</a></p>
            <!--##cont-->

            <!--##hide-termine-->
            <span style="float:right">#(uebersicht_termine)</span>
            <hr />
            <!--##show-->

            <!--##hide-termine_detail-->
            <p style="float:right;text-align:right;font-size:85%">
                <a href="?print[2]=print">Drucken</a>&nbsp;|&nbsp;<a href="mailto:?subject=Linkempfehlung&amp;body=!#pathvars_menuroot!#pathvars_uri">Versenden</a>&nbsp;|&nbsp;<a href="ansprech.html">Kontakt</a>
            </p>
            <table width="100%">
            <!--##show-->
                <!--##loop-termine_detail-->
                <tr><td style="width:20%;">!{desc}</td><td>!{name}</td></tr>
                <!--##cont-->
            <!--##hide-termine_detail-->
            </table>
            <!--##show-->

            <!--##hide-all-->
            <p style="float:right;text-align:right;font-size:85%">
                <a href="?print[2]=print">Drucken</a>&nbsp;|&nbsp;<a href="mailto:?subject=Linkempfehlung&amp;body=!#pathvars_menuroot!#pathvars_uri">Versenden</a>&nbsp;|&nbsp;<a href="kontakt.html">Kontakt</a>
            </p>
            <p style="font-size:85%">!{changed}</p>
            <div class="clearer"></div>
            !{out}
            <!--##show-->
            <!--##hide-presse_footer-->

            <br /><br /><hr /><div style="float:left;text-align:left;font-size:85%">!{strasse}<br />!{ort}<br />!{name}</div><div style="float:right;text-align:right;font-size:85%">Telefon: !{tel}<br />Fax: !{fax}<br /><a href="kontakt.html">Kontakt</a></a></div>
            <div class="clearer"></div>
            <hr />


            <!--##show-->
            <!--##hide-kontakt-->
            <div class="amt_info_box" style="display:!{display};">
                !#ausgaben_kontakt
            </div>
            <!--##show-->

            <!--##hide-aktuelles-->
            <h2>!{text}</h2>
            <div style="margin-top:15px" class="amt_info_box">
            <!--##show-->
                <!--##hide-aktuelles_archiv-->
                <b>Meldungen</b>
                <ul style="list-style:none">
                <!--##loop-/aktuell/archiv-->
                    <li><a href="!{link}">!{date}</a> !{text}</li>
                <!--##cont-->
                </ul>
                <!--##show-->
                <!--##hide-aktuelles_presse-->
                <div><b>Pressemitteilungen</b></div>
                <ul style="list-style:none">
                <!--##loop-/aktuell/presse-->
                    <li><a href="!{link}">!{date}</a> !{text}</li>
                <!--##cont-->
                </ul>
                <!--##show-->
                <!--##hide-aktuelles_termine-->
                <b>Termine</b>
                <ul style="list-style:none">
                <!--##loop-/aktuell/termine-->
                    <li><a href="!{link}">!{date}</a> !{text}</li>
                <!--##cont-->
                </ul>
                <!--##show-->
            <!--##hide-aktuelles-->
            </div>
            <div class="clear"></div>
            <!--##show-->
            <p class="anchor">
                <a href="#top"><img src="../../images/html/nach_oben.png" alt="zum Seitenanfang" />&nbsp;zum Seitenanfang</a>
            </p>
            !#ausgaben_output
            !#ausgaben_inaccessible

        </div>
        #{margin}
<!--##end-->
    </body>
</html>
