<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>Neues Internet</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" />
    </head>

    <body>

<!--##begin-->
<div id="substance">
    <h1>!#ausgaben_amt</h1>

    <div class="info_amt" style="float:left;width:45%;">
        <img src="../../images/html/aemter/va!#ausgaben_akz_gebaeude.gif" alt="Vermessungamt M&uuml;nchen" />
        <span title="Anschrift">
            <img src="../../images/html/icon_adresse.gif" title="Adresse:" alt="Adresse:" />
            <div>!#ausgaben_str</div>
            <div>!#ausgaben_plz !#ausgaben_ort</div>
        </span>
        <span title="Telefon">
            <img src="../../images/html/icon_telefon.gif" title="Telefon:" alt="Telefon:" />
            <div>!#ausgaben_tel</div>
        </span>
        <span title="Fax">
            <img src="../../images/html/icon_fax.gif" title="Fax:" alt="Fax:" />
            <div>!#ausgaben_fax</div>
        </span>
        <span title="&Ouml;ffnungszeiten">
            <img src="../../images/html/icon_zeit.jpg" title="&Ouml;ffnungszeiten:" alt="&Ouml;ffnungszeiten:" />
            <div>Mo. - Do. 8:00 - 16:00 Uhr</div>
            <div>Fr. 8:00 -12:00 Uhr</div>
            <div>und nach Vereinbarung</div>
        </span>
    </div>

    <div class="info_amt" style="float:left;width:45%;">
        <span title="E-Mail">
            <img src="../../images/html/icon_email.jpg" title="E-Mail:" alt="E-Mail:" />
            <div><a href="mailto:!#ausgaben_email">!#ausgaben_email</a></div>
        </span>
        <span title="Standort">
            <img src="../../images/html/icon_anfahrt1.gif" title="Standort:" alt="Standort:" />
            <div><a href="standort.html" id="cont01-title">Standortanzeige</a></div>
        </span>
        <span title="Verbindungen">
            <img src="../../images/html/icon_anfahrt2.gif" title="Verbindung suchen:" alt="Verbindung suchen:" />
            <div><a href="">Verbindungen Suchen</a></div>
        </span>
        <span title="Ansprechpartner">
            <img src="../../images/html/icon_ansprech.jpg" title="Ansprechpartner:" alt="Ansprechpartner:" />
            <div><a href="ansprech.html">Ansprechpartner</a></div>
        </span>
        <span title="Informationen">
            <div><a href="info.html" id="cont02-title">Informationen f&uuml;r behinderte Menschen</a></div>
        </span>

        <fieldset>
            <legend>Wir &uuml;ber uns</legend>
            <span title="Amtsbezirk">
                <div><a href="amtsbezirk.html">Amtsbezirk</a></div>
            </span>
            <span title="Amtschronik">
                <div><a href="amtschronik.html">Amtschronik</a></div>
            </span>
            <span title="Weiterf&uuml;hrende Links">
                <div><a href="links.html">Weiterf&uuml;hrende Links</a></div>
            </span>
        </fieldset>
    </div>
    <div class="clear"></div>

    <!--##hide-gallery-->
    <h2>So finden Sie uns:</h2>


    <div class="selection_teaser">
        <b><a href="!{viewer}">Viewer</a></b>
        <div>
            <ul>
                <!--##loop-gallery_alt-->
                <li class="thumbs">
                    <a href="standort,!{id}.html#standort" style="width:96px;height:96px;display:block;background: url('../../images/html/aemter/va!{amtakz}_anfahrt!{id}.gif') center center no-repeat;">va!{amtakz}_anfahrt!{id}</a>
                </li>
                <!--##cont-->
                <!--##loop-gallery-->
                <li class="thumbs">
                    <a href="../../images/html/aemter/va!{amtakz}_anfahrt!{id}.gif" title="Anfahrtskizze !{id}" rel="lightbox[skizze]" style="width:96px;height:96px;display:block;background: url('../../images/html/aemter/va!{amtakz}_anfahrt!{id}.gif') center center no-repeat;">
                        va!{amtakz}_anfahrt!{id}
                    </a>
                </li>
                <!--##cont-->
            </ul>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <span>&nbsp;</span>
    </div>
    <div class="clear"></div>
    <!--##show-->

    <!--##hide-bezirk-->
    <h2>Amtsbezirkskarten</h2>
    <p>
        Der Amtsbezirk
        <ul>
            <li>
                <a href="../../images/html/aemter/va!{amtakz}.pdf">
                    im pdf-Format
                </a>
            </li>
            <li>
                <a href="../../images/html/aemter/va!{amtakz}_amtsbezirk.gif" rel="lightbox[]" title="Der Amtsbezirk des Vermessungamtes !#ausgaben_amt als &Uuml;bersichtskarte">
                    als &Uuml;bersichtskarte
                </a>
            </li>
        </ul>
    </p>
    <h2>Gemeinden und Gemarkungen</h2>
    <table width="100%">
        <tr style="">
            <th>Gemeinde</th>
            <th>Gemarkungen</th>
        </tr>
        <!--##loop-gmd-->
        <tr style="background:!{color}">
            <td>!{item}</td>
            <td>!{gmkg}</td>
        </tr>
        <!--##cont-->
    </table>
    <!--##show-->

    #(inhalt)
    !#ausgaben_output

</div>

<div id="margin">
    g(left)
</div>
<!--##end-->


<hr />
        <div id="content">
            <div class="right">&nbsp;
<!--##loop-ast-->
                <a href="!{link}">!{amt}</a>&nbsp;
<!--##cont-->
                g(kopf)
            </div>
            <hr />

            <!--##hide-lokal-->
            <h2>Nachrichten des Vermessungamtes</h2>
            <!--##loop-lokal-->
            <p><a href="!{link}">!{item}</a></p>
            <!--##cont-->
            <!--##show-->

            <!--##hide-bayern-->
            <h2>Nachrichten aus Bayern</h2>
            <!--##loop-bayern-->
            <p><a href="!{link}">!{item}</a></p>
            <!--##cont-->
            <!--##show-->

            <!--##hide-bezirk-->
            <h2>Amtsbezirkskarten</h2>
            <p>
                <a href="../../images/html/aemter/va!{amtakz}.pdf">
                    <img src="../../images/html/icon_pdf.png" width="14" height="14" border="0" alt="" />Der Amtsbezirk im pdf-Format
                </a>
            </p>
            <img src="../../images/html/aemter/va!{amtakz}_amtsbezirk.gif" border="0" title="Amtsbezirk, !#ausgaben_amt" alt="Amtsbezirk, !#ausgaben_amt">
            <h2>Gemeinden und Gemarkungen</h2>
            <table width="90%" style="border:1px solid #f4f4f4;">
                <tr style="">
                    <th>Gemeinde</th>
                    <th>Gemarkungen</th>
                </tr>
                <!--##loop-gmd-->
                <tr style="background:!{color}">
                    <td>!{item}</td>
                    <td>!{gmkg}</td>
                </tr>
                <!--##cont-->
            </table>
            <!--##show-->

            #(inhalt)

            #(head1)
            #(teaser1)
            #(content1)
            !#ausgaben_output

        </div>
<!--##end-->

    </body>
</html>
