<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
<title>auth</title>
<link rel="stylesheet" href="../../css/default/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/default/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--##begin-->
<!--$Id: auth.tem.html 1231 2008-02-04 10:40:22Z buffy1860 $-->

<!--##hide-authArea-->
<!--##show-->


<!--##hide-authInPlace-->
<div class="box">
    <h3>#(ueberschrift)</h3>
    <ul>
        <!--##loop-authblog_artikel-->
            <form method="post" name="archiv" action="/auth/admin/bloged/add.html">
                <a href="javascript: document.archiv.submit()">Neuer Artikel</a><br>
                <input type="hidden" value="/aktuell/archiv" name="link"/>
                <input type="hidden" value="/aktuell/archiv" name="kategorie"/>
            </form>
        <!--##cont-->

        <!--##loop-authblog_presse-->
        <li>
            <form method="post" name="presse" action="/auth/admin/bloged/add.html">
                <a href="javascript: document.presse.submit()">Neue Pressemitteilung</a><br>
                <input type="hidden" value="/aktuell/presse" name="link"/>
                <input type="hidden" value="/aktuell/presse" name="kategorie"/>
            </form>
        </li>
        <!--##cont-->
        <!--##loop-authblog_termine-->
        <li><a href="/auth/aktuell/termine,,,,add.html" name="termin" value="Neuen Termin erfassen">Neuen Termin erfassen</a></li>
        <!--##cont-->
        <!--##loop-authInPlace-->
        <li><a href="!{link}">!{desc}</a></li>
        <!--##cont-->
        <li><a href="!#pathvars_pretorian">Administration</a></li>
    </ul>
<!--##show-->

<!--##hide-authArea-->
    <form method="post" action="!#ausgaben_auth_url">
<!--##show-->

    <!--##hide-authLogout-->
        <fieldset class="buttons">
            <input type="submit" name="logout" value="logout" style="width:100%" />
        </fieldset>
    <!--##show-->

<!--##hide-authArea-->
    </form>
<!--##show-->

<!--##hide-authInPlace-->
</div>
<!--##show-->

<!--##end-->
</body>
</html>