<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
<title>fileed.modify</title>
<link rel="stylesheet" href="../../css/default/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/default/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--$Id: -939795212.modify.tem.html 1481 2008-11-20 14:10:34Z krompi $-->
<!--##begin-->
        <form method="post" action="!#ausgaben_form_aktion" id="" class="wide" enctype="multipart/form-data">
            <h1>#(ueberschrift)</h1>
            <p>!#ausgaben_form_error</p>

            <fieldset class="formular">
                <div class="error" style="border:none;">#(inhalt)</div>
                <div id="margin" style="padding:0;float:right;">
                    <div class="ad">
                        <!--##loop-del_banner-->
                        <div class="box" style="width:auto; text-align:center;">
                            <a title="!{desc}" target="!{target}" href="!{link}">
                            <img title="!{desc}" alt="!{desc}" src="!{src}"/>
                            </a>
                        </div>
                        <!--##cont-->
                    </div>
                    <div class="ad">
                    </div>
                    <!--##hide-hidden_menu-->
                    g(hidden_menu)
                    <!--##show-->
                </div>
                <table width="70%" cellspacing="5" cellpadding="2" style="clear:none;">
                    <tr>
                        <th>Titel</th>
                        <td>!#ausgaben_title</td>
                    </tr>
                    <tr>
                        <th>Beschreibung</th>
                        <td>!#ausgaben_desc</td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td>!#ausgaben_link</td>
                    </tr>
                    <tr>
                        <th>Kategorie</th>
                        <td>!#ausgaben_kat</td>
                    </tr>
                </table>
            </fieldset>


            <fieldset>
                <input type="submit" name="send[]" value="g(send)" class="button" />
                <input type="submit" name="abort[]" value="g(abort)" class="button" />
                <div class="clearer">&nbsp;</div>
            </fieldset>



        </form>

        <p>!#ausgaben_output</p>
        <p>!#ausgaben_inaccessible</p>


<!--##end-->
</body>
</html>
