<!--##begin-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>!#specialvars_pagetitle</title>
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta content="!#specialvars_pagetitle" name="keywords"/>
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" media="all" title="Standard" />
        <link rel="stylesheet" href="../../css/html/eed.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/wizard.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/calendarjs.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/lightbox.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/print.css" type="text/css" media="print" />
        <link rel="icon" href="../../images/html/favicon.ico" type="image/x-icon" />
        <!--##loop-rss-->
        <link rel="alternate" type="application/rss+xml" title="!{title}" href="!{href}" />
        <!--##cont-->
        <script type="text/javascript" src="../../js/html/prototype.js"></script>
        <script type="text/javascript" src="../../js/html/scriptaculous.js"></script>
        <script type="text/javascript" src="../../js/html/fontsize.js"></script>
        <script type="text/javascript" src="../../js/html/lightbox.js"></script>
        <script type="text/javascript" src="../../js/html/little_helpers.js"></script>
        <script type="text/javascript" src="../../js/html/deflist_toggle.js"></script>
        <script type="text/javascript" src="../../js/html/calendar.js"></script>
        <script type="text/javascript" src="../../js/html/calendar-de.js"></script>
        <script type="text/javascript" src="../../js/html/calendar-setup.js"></script>
        <script type="text/javascript" src="../../js/html/deflist_toggle.js"></script>
    </head>

    <body onload="init();">

        <div id="head">

            <div class="wappen">
                <a href="!#pathvars_menuroot/index.html" name="top" style="">
                    <img src="../../images/html/wappen.png" alt="Bayerische Vermessungsverwaltung" />
                </a>
            </div>

            <div class="hidden">
                Springe direkt zu:
                <a href="#search">Suche</a>,
                <a href="#content">Inhalt</a>,
                <a href="#navigation">Hauptnavigationsmen&uuml;</a>
            </div>

            <div class="head_navi" style="">
                <ul>
                    <!--##loop-headnavi-->
                    <li><a href="!#pathvars_virtual/!{url}" title="!{title}">!{desc}</a></li>
                    <!--##cont-->
                    <li class="fontsize">
                        <span>Textgr&ouml;&szlig;e</span>
                        <a title="Schriftgr&ouml;&szlig;e normal" id="size1" onclick="setFontSize(0);return false;" href="#" style="font-size:0.8em;color:#2C5A93;background-color:#C2D9EF;">
                            A
                        </a>
                        <a title="Schriftgr&ouml;&szlig;e mittel" id="size2" onclick="setFontSize(1);return false;" href="#" style="font-size:1em;">
                            A
                        </a>
                        <a title="Schriftgr&ouml;&szlig;e gro&szlig;" id="size3" onclick="setFontSize(2);return false;" href="#" style="font-size:1.5em;">
                            A
                        </a>
                    </li>
                </ul>
            </div>

            <div class="head_subnavi" style="">
                #(head_subnavi)
            </div>

            <div class="clear"></div>
        </div>

        <div id="site">

            <p class="kekse" style="">#(kekse) !#environment_kekse</p>
            <div class="clear"></div>

            <a name="navigation" class="hidden">Navigation</a>
            #{navi}
            <a name="content" class="hidden">Seiteninhalt</a>
            #{screen}
            #{foot}
            <div class="clear"></div>

        </div>

    </body>
</html>
<!--##end-->
