<!--##begin-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>!#specialvars_pagetitle</title>
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" media="all" title="Standard" />
        <link rel="stylesheet" href="../../css/html/eed.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/wizard.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/lightbox.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/print.css" type="text/css" media="print" />
        <link rel="icon" href="../../images/html/favicon.ico" type="image/x-icon" />
        <script type="text/javascript" src="../../js/html/prototype.js"></script>
        <script type="text/javascript" src="../../js/html/scriptaculous.js"></script>
        <script type="text/javascript" src="../../js/html/fontsize.js"></script>
        <script type="text/javascript" src="../../js/html/lightbox.js"></script>
    </head>

    <body onload="init();">

        <div id="site">

            <div id="head">
                <div id="banner">
                    <a href="!#pathvars_menuroot/index.html" name="top">
                        <img src="../../images/html/wappen.gif" class="wappen" alt="Bayerische Vermessungsverwaltung" style="float:right;" />
                    </a>
                    <div class="clear"></div>
                </div>
                <div id="hidden_navi">
                    Springe direkt zu:
                    <a href="#search">Suche</a>,
                    <a href="#content">Inhalt</a>,
                    <a href="#navigation">Hauptnavigationsmenü</a>
                </div>
                <div id="headnavi">
                    <ul>
                        <!--##loop-headnavi-->
                        <li><a href="!#pathvars_menuroot/!{url}" title="!{title}">!{desc}</a></li>
                        <!--##cont-->
                    </ul>
                    <div class="clear"></div>
                </div>

                <p class="metanavi">
                    <a href="" >Deutsch</a> |
                    <a href="" >Sprache</a>
                    &nbsp;
                </p>
                <p class="kekse" style="">#(kekse) !#environment_kekse</p>

                <div class="clear"></div>
            </div>

            <div class="clear"></div>
            <a name="navigation" class="hidden">Navigation</a>
            #{navi}
            <a name="content" class="hidden">Seiteninhalt</a>
            #{screen}
            #{foot}
            <div class="clear"></div>

        </div>

    </body>
</html>
<!--##end-->
