<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>Neues Internet</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" />
    </head>

    <body>

<!--##begin-->
<div id="substance">
    #(htdig_head)
    <div style="height:2.5em" class="tabbed">
        <ul>
            <li><a class="!#ausgaben_search_sel" href="suche.html">#(search)</a><a class="!#ausgaben_esearch_sel" href="suche,esearch.html">#(esearch)</a></li>
        </ul>
    </div>
    <div class="amt_info_box kontakt" >
        <form id="htdig_search" method="post" action="!#pathvars_virtual/!#ausgaben_aktion">

                <!--##hide-search-->
                <label>#(search_words)</label><input type="text" name="words" value="!#ausgaben_suchbegriff"/>
                <div class="clear"></div>
                <!--##show-->

                <!--##hide-esearch-->
                <label>#(search_words)</label><input type="text" name="words" value="!#ausgaben_suchbegriff"/>
                <div class="clear"></div>
                <div id="tt" style="width:100% !#ausgaben_select">
                <label>#(menuitem)</label>
                <select name="restrict">
                    <option value="">Gesamt</option>
                    <!--##loop-restrict-->
                    <option value="!{entry}" !{selected}>!{label}</option>
                    <!--##cont-->
                    </select>
                </div>
                <div class="clear"></div>

                <label>Trefferanzahl pro Seite</label><select class="small" name="matchesperpage"><option>10</option><option !#ausgaben_25>25</option><option !#ausgaben_50>50</option></select>
                <div class="clear"></div>
                <!--##show-->

                <hr />
                <input style="float:left;width:90px" type="reset"/>
                <input style="float:right;width:50px" type="submit" tabindex="20" value="Suche" name="send[]"/>
                <div class="clear"></div>
                <hr />

                <span style="margin-left:0px;float:left">!#ausgaben_gesamt</span>
                <div style="text-align:right;width:350px;float:right">
                    <!--##loop-site_switch-->
                    <button type="submit" style="background:#EEF3FB;padding:0;font-weight:!{font};border:0;"  tabindex="20" value="!{anzeige}" name="page">!{anzeige}</button>
                    <!--##cont-->
                </div>

                <hr />

                <ul style="width:520px;list-style:none">
                    <!--##loop-treffer-->
                    <li style="margin:0 0 10px 0px">
                        <span style="width:100%">!{art} <b><a href="!{0}">!{1}</a></b></span>!{2}
                        <div class="clear"></div>
                    </li>
                    <!--##cont-->
                </ul>

        </form>
    </div>
</div>
#{margin}
<script type="text/javascript">
    function anzeigen(id) {
        buffer = document.getElementById(id).style.display;
        if ( buffer == "none" ) {
            new Effect.BlindDown(id, {duration: 0.7});
            new Effect.BlindUp('hits_site', {duration: 0.7});
        } else {
            new Effect.BlindUp(id, {duration: 0.7})
            new Effect.BlindDown('hits_site', {duration: 0.7});
        }
        return false;
    }
</script>
<!--##end-->
    </body>
</html>
