<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>Neues Internet</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" />
    </head>

    <body>

<!--##begin-->
<div id="substance">
    <form id="qsearch" method="post" action="/suche.html">
        <fieldset class="kontakt">
            <input type="text" onfocus="this.value=''" name="words" value="!#ausgaben_suchbegriff"/><input style="float:left;width:5em" type="submit" tabindex="20" value="Suche" name="send[]"/>
            <div class="clear"/>
        </fieldset>
    </form>

    <!--##loop-treffer-->
    <div class="">
        <u><a href="!{0}">!{1}</a></u>
        <p>!{2}</p>
    </div>
    <!--##cont-->
</div>
#{margin}
<!-- <div class="clear"/> -->
<!--##end-->
    </body>
</html>
