<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>Neues Internet</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" />
    </head>

    <body>

<!--##begin-->
            <div style="background:#FFFFFF;float:left;" onmouseout="hover_prev(1,'hide')">
<!--                 <h3>Schema</h3> -->

                <div id="preview_event">
                    <img src="../../images/html/img_map_deco_page_start.png" style="float:left;border:0;" usemap="#map_start" />

                    <ul id="img_map">
                        <!--##loop-img_map-->
                        <li style="float:left;" id="item_hm_!{key}">
                            <a href="!{link}">
                                <img src="!{src}" border="0" />
                            </a>
                        </li>
                        <!--##cont-->
                    </ul>
                    <div style="clear:both;"></div>
                </div>

                <div id="output"></div>

                <div id="hover_preview_frame" style="display:none;">
                    <div class="preview_title">
                        <a onclick="hover_prev(1,'hide')">schliessen</a>
                        g(preview)
                    </div>
                    <div id="hover_preview">
                    </div>
                    <div style="clear:both;"></div>
                </div>

                <script type="text/javascript">
                    Sortable.create(
                        'img_map',
                        {
                            onUpdate:function(){
                                new Ajax.Request(
                                    '/index.html',
                                    {
                                        onComplete:function(element){
                                            window.location.href = '!#ausgaben_ajax_request?' + Sortable.serialize("img_map");
                                            new Effect.Pulsate('img_map',{duration:3.0});
                                        }
                                    }
                                );
                            }
                        }
                    );
                    function move_items(para) {
                        window.location.href = '!#ausgaben_ajax_request?' + para;
                        new Effect.Pulsate('img_map',{duration:3.0});
                    }

                    Event.observe(
                        'preview_event',
                        'mouseover',
                        function() {
                            $('output').innerHTML = 'hallo welt';
                            new Effect.BlindDown('hover_preview_frame',{duration:0.3});
//                             new Effect.Fade(
//                                 'content_blocks',
//                                 {
//                                     duration:0.3,from: 1, to: 0.3
//                                 }
//                             );
                        }
                    );

                    Event.observe(
                        'preview_event',
                        'mouseout',
                        function() {
                            $('output').innerHTML = 'ciao welt';
                            new Effect.BlindUp('hover_preview_frame',{duration:0.3});
//                             new Effect.Appear(
//                                 'content_blocks',
//                                 {
//                                     duration:0.3
//                                 }
//                             );
                        }
                    );






                    function hover_prev(id) {
                        $('hover_preview').innerHTML = 'blub';
//                             new Ajax.Updater(
//                                     'hover_preview',
//                                     '!#pathvars_requested',
//                                     {
//                                         parameters:'ajax_preview=on&block=' + id
//                                     }
//                             );
                    }
                </script>

                <map name="map_start">
                    <area shape="rect" coords="0,0,160,21" href="!#ausgaben_item_1_link" />
                    <area shape="rect" coords="0,21,160,70" href="!#ausgaben_item_2_link" />
                    <area shape="rect" coords="0,70,160,105" href="!#ausgaben_item_3_link" />
                </map>
            </div>
<!--##end-->

    </body>
</html>
