<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>index</title>
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" media="all" title="Standard" />
        <link rel="stylesheet" href="../../css/html/extra_default.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/eed.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/lightbox.css" type="text/css" />
    </head>
    <body>
<!--$Id: -2051315182.list.tem.html 1272 2008-03-13 13:00:15Z buffy1860 $-->
<!--##begin-->
        <div id="substance">
            <!--##hide-startbanner-->
            <img src="!{src}" alt="#(ueberschrift)" title="#(ueberschrift)" style="margin-bottom:10px;width:540px;height:170px;" />
            <!--##show-->
            <!--##hide-wartung-->
            <div style="background:#FEEAAD;border:1px solid #FFCF3F;padding:2px 5px;">
                <h3 style="margin:0;">Wartungsarbeiten</h3>
                <p>Wegen Wartungsarbeiten an den Webservern kommt es am Mittwoch, dem 31.03.2010 zu erheblichen Störungen des Internetauftritts der Bayerischen Vermessungsverwaltung.</p>
            </div>
            <!--##show-->
            <!--##loop-startseite-->
            <div class="single_news">
                <h2>!{headline}</h2>
                <div style="">
                <img src="!{pic_src}" style="width:150px;border-style:solid;border-width:1px;border-color:#BBD3EF;" alt="!{pic_alt}" title="!{pic_alt}" />
                    <p>!{teaser}</p>
                    <p><b><a href="!{link}" title="!{headline}">Beitrag lesen</a></b></p>
                </div>
                <hr />
            </div>
            <!--##cont-->
        </div>
        #{margin}
<!--##end-->
    </body>
</html>
