<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
<title>keyworded.edit_page</title>
<link rel="stylesheet" href="../../css/default/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/default/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--$Id: -939795212.modify.tem.html 1481 2008-11-20 14:10:34Z krompi $-->
<!--##begin-->
<form method="post" action="!#ausgaben_form_aktion" id="eEd" enctype="multipart/form-data">
    <h1>#(ueberschrift)</h1>
    #(inhalt)
    <fieldset>
        <h2>!#ausgaben_title</h2>
        <label style="clear:left;">#(keyword)
            <input id="keywords_box" type="text" value="!#ausgaben_keywords" name="keywords" onkeyup="update_tags(this)" tabindex="1" style="width:750px;" />
            <div id="autocomplete_choices" class="autocomplete"></div>
            <input type="hidden" value="!#ausgaben_path" name="url" style="display:none;" />
        </label>
        <div class="clearer">&nbsp;</div>
        <!--##hide-tags_all-->
        <div style="margin-left:40px">
        <div id="cloud" class="cloud">
            <!--##loop-tags_all-->
            <a class="!{class}" id="tag_!{keyword_id}" onclick="javascript:update_input('!{keyword}');" title="!{keyword} !{anzahl}">!{keyword}</a>
            <!--##cont-->
        </div>
        </div>
        <!--##show-->
    </fieldset>
    <pre id="output"></pre>
    <fieldset>
        <input type="submit" name="send[]" value="g(send)" class="first" tabindex="3" />
        <input type="button" name="abort" value="g(abort)" onclick="location='!#ausgaben_form_break'" class="next" tabindex="4" />
        <div class="clearer">&nbsp;</div>
    </fieldset>

    <script type="text/javascript">
        var edit_tags = new Ajax.Autocompleter(
                            "keywords_box",
                            "autocomplete_choices",
                            "edit_page.html",
                            {
                                tokens: ',',
                                parameters: 'ajax=on&taken=' + $('keywords_box').value,
                                afterUpdateElement : update_tags
                            }
                        );

        function update_tags(element) {
            var tags = element.value.split(',');
            var klasse = 'selected';
            cloud_elements = $('cloud').childElements();
            // erstmal aller tags abwaehlen
            cloud_elements.each( function(el) {
                    if ( el.hasClassName(klasse) ) {
                        el.removeClassName(klasse);
                    }
                }
            );
            // tags aus input markieren
            tags.each( function(el) {
                    text = el.replace (/^\s+/, '').replace (/\s+$/, '').replace(/\s/g,'_');
                    tag_element = 'tag_' + text;
                    if ($(tag_element)) $(tag_element).addClassName(klasse);
                }
            );
        }

        function update_input(tag) {
            var inputElement = $('keywords_box');
            var tags_written = inputElement.value.split(',');
            var text_input = new Array();
            var del = 0;
            var klasse = 'selected';
            var k = 0;
            for (i=0;i<tags_written.length;i++) {
                text = tags_written[i].replace (/^\s+/, '').replace (/\s+$/, '');
                if ( text == '' ) continue;
                if ( text == tag ) {
                    del = -1;
                    continue;
                }
                text_input[k] = text;
                k++;
            }
            if ( del == 0 ) text_input[k++] = tag;
            $('keywords_box').value = text_input.join(", ");
            tag_element = 'tag_' + tag.replace(/\s/g,'_');
            if ( $(tag_element).hasClassName(klasse) ) {
                $(tag_element).removeClassName(klasse);
            } else {
                $(tag_element).addClassName(klasse);
            }
        }

    </script>

    <div class="clearer">&nbsp;</div>
    <p id="output"></p>

    <p>!#ausgaben_output</p>
    <p>!#ausgaben_inaccessible</p>
</form>
<!--##end-->
</body>
</html>
