<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>Neues Internet</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" />
    </head>

    <body>

<!--##begin-->
            <div id="navi">
                <div class="menu">
<!--                     <h1>&nbsp;</h1> -->
                    !#ausgaben_menu
                </div>
<!--                 <h1>&nbsp;</h1> -->
                <ul class="navigation">
                    <li><a href="!#pathvars_virtual/impressum.html">Impressum/<br /> Datenschutz</a></li>
                </ul>
                <div id="lock">
                    &nbsp;
                </div>
            </div>
<!--##end-->

    </body>
</html>
