<html>
<head>
<!--$Id: kontakt-email1.tem.html 1435 2008-08-25 10:20:10Z krompi $-->
<title>kontakt-email1 (mail an betreiber)</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
</head>
<body>
<pre>Achtung Plain Text eMail, kein HTML verwenden!
<!--##begin-->
Vielen Dank für Ihr Interesse an unserer BVV-Kundeninformation!

Bitte bestätigen Sie Ihre Anmeldung mit einem Klick auf folgenden Link:

###bestaetigungslink###

... so stellen wir sicher, dass kein Unbefugter Sie am BVV-Kundeninformations-System angemeldet hat.


Mit freundlichen Grüßen
Bayerische Vermessungsverwaltung

http://www.geodaten.bayern.de
<!--##end-->
</pre>
</body>
</html>