<!--##begin-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>!#specialvars_pagetitle</title>
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../../css/html/print.css" type="text/css" media="all" title="Standard" />
        <link rel="stylesheet" href="../../css/html/eed.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/wizard.css" type="text/css" />
        <link rel="icon" href="../../images/html/favicon.ico" type="image/x-icon" />
    </head>

    <body onload="init();">

        <div id="site">

            <div id="banner">
                <img src="../../images/html/wappen.gif" class="wappen" alt="Bayerische Vermessungsverwaltung" style="float:right;" />
            </div>

            #{screen}
            #{foot}
            <div class="clear"></div>

        </div>

    </body>
</html>
<!--##end-->
