<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>Neues Internet</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/extra_default.css" type="text/css" />
    </head>

    <body>

<!--##begin-->
        <div id="content">

            #(inhalt)
            <ul class="no-style">
                <li>
                    <img src="/file/picture/thumbnail/tn_37.gif" class="left"/>
                    <div class="teaser-margin">
                        <h2>Schlagzeile</h2>
                        <p>Ja, wir finden auch, dass man &uuml;ber die Copy noch mal reden sollte. Das hier kann es jedenfalls nicht sein. Das klingt ja wie auf dem Totenbett getextet. Da muss wesentlich mehr Produktaussage rein. Ja, wir finden auch, dass man &uuml;ber die Copy noch mal reden sollte.<a href="#"> >>mehr</a></p>
                        <p class="clear" />
                    </div>
                </li>
                <!--##loop-list-->
                <li>
                    <img src="!{pic}" alt="!{alt}" class="teaser"/>
                    <div  class="teaser-margin">
                        <h2><a href="!{2}">!{0}</a></h2>
                        <p>!{1}<a href="!{2}"> >>mehr</a></p>
                        <p class="clear" />
                    </div>
                    <p class="clear" />
                </li>
                <!--##cont-->
                <!--##loop-list_new-->
                <li>
                    <img src="!{pic_src}" alt="!{pic_alt}" class="teaser" />
                    <div  class="teaser-margin">
                        <h2><a href="!{link}">!{headline}</a></h2>
                        <p>!{teaser}<a href="!{link}"> >>mehr</a></p>
                        <p class="clear" />
                    </div>
                    <p class="clear" />
                </li>
                <!--##cont-->
            </ul>

            <div id="margin" class="column">
                g(column_start)
            </div>

        </div>
<!--##end-->

    </body>
</html>
