<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>Neues Internet</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/extra_default.css" type="text/css" />
    </head>

    <body>

<!--##begin-->

        <div style="float:left;width:520px;border:1px solid silver;">

            <h1>Bayerische Vermessungsverwaltung</h1>
            <img width="680" height="150" alt="Banner Digitales Orthophoto" title="Banner Digitales Orthophoto" src="/internet/interbvv/file/jpg/31/o/dop_banner.jpg"/>
            <ul class="no-style">
                <li>
                    <img src="../../../interbvv/file/picture/thumbnail/tn_37.gif" class="left"/>
                    <div class="teaser-margin">
                        <h2>Schlagzeile</h2>
                        <p>Ja, wir finden auch, dass man &uuml;ber die Copy noch mal reden sollte. Das hier kann es jedenfalls nicht sein. Das klingt ja wie auf dem Totenbett getextet. Da muss wesentlich mehr Produktaussage rein. Ja, wir finden auch, dass man &uuml;ber die Copy noch mal reden sollte.</p>
                        <p class="clear" />
                    </div>
                </li>
                <li>
                    <img src="../../../interbvv/file/picture/thumbnail/tn_37.gif" class="teaser"/>
                    <div  class="teaser-margin">
                        <h2>Schlagzeile</h2>
                        <p>Ja, wir finden auch, dass man &uuml;ber die Copy noch mal reden sollte. Das hier kann es jedenfalls nicht sein. Das klingt ja wie auf dem Totenbett getextet. Da muss wesentlich mehr Produktaussage rein. Ja, wir finden auch, dass man &uuml;ber die Copy noch mal reden sollte.</p>
                        <p>Ja, wir finden auch, dass man &uuml;ber die Copy noch mal reden sollte. Das hier kann es jedenfalls nicht sein. Das klingt ja wie auf dem Totenbett getextet. Da muss wesentlich mehr Produktaussage rein. Ja, wir finden auch, dass man &uuml;ber die Copy noch mal reden sollte.</p>
                        <p class="clear" />
                    </div>
                    <p class="clear" />
                </li>
            </ul>

            <h1>Bayerische Vermessungsverwaltung</h1>
            <ul class="no-style">
                <li>
                    <span class="left">23.07.2007: </span>
                    <div class="teaser-margin">
                        <h2>Schlagzeile</h2>
                        <p>Ja, wir finden auch, dass man &uuml;ber die Copy noch mal reden sollte. Das hier kann es jedenfalls nicht sein. Das klingt ja wie auf dem Totenbett getextet. Da muss wesentlich mehr Produktaussage rein. Ja, wir finden auch, dass man &uuml;ber die Copy noch mal reden sollte.</p>
                    </div>
                </li>
                <li>
                    <span class="left">23.07.2007: </span>
                    <div class="teaser-margin">
                        <h2>Schlagzeile</h2>
                        <p>Ja, wir finden auch, dass man &uuml;ber die Copy noch mal reden sollte. Das hier kann es jedenfalls nicht sein. Das klingt ja wie auf dem Totenbett getextet. Da muss wesentlich mehr Produktaussage rein. Ja, wir finden auch, dass man &uuml;ber die Copy noch mal reden sollte.</p>
                    </div>
                </li>
            </ul>


            <h1>Nachrichten Archiv</h1>
            <fieldset>
                <div class="left" style="width:100px;margin-right:2px;">
                    Suchbegriff<br />
                    <input type="text" style="width:98px;" value="Schlagzeile" />
                </div>
                <div class="left" style="width:100px;margin-right:2px;">
                    Suchbegriff<br />
                    <select style="width:98px;">
                        <option>ganzem Artikel</option>
                        <option>Teaser</option>
                        <option>&Uuml;berschrift</option>
                    </select>
                </div>
                <div class="left" style="width:100px;margin-right:2px;">
                    Suchbegriff<br />
                    <select style="width:98px;">
                        <option>gesamtes Archiv</option>
                        <option>1 Jahr</option>
                        <option>6 Monate</option>
                    </select>
                </div>
                <div class="left" style="width:100px;margin-right:2px;">
                    Suchbegriff<br />
                    <input type="text" style="width:98px;" />
                </div>
                <div class="left" style="width:100px;">
                    Suchbegriff<br />
                    <input type="text" style="width:98px;" />
                </div>

                <p class="right">
                    <button type="submit">Suche starten</button>
                </p>
                <p class="clear" />
            </fieldset>
            <p><b>Suchergebnis: </b>123 Nachrichten</p>
            <ul class="no-style">
                <li><h2>30.06.2007</h2>
                    <ul class="no-style">
                        <li><a href="">R&uuml;ckblick: "Tag der offenen T&uuml;r" am LVG</a></li>
                        <li><a href="">Manfred Kerl neuer Leiter des Vermessungsamts Schwabach</a></li>
                        <li><a href="">Umgebungskarte "Kneippland - Unterallg&auml;u" neu herausgegeben</a></li>
                        <li><a href="">Ausbildungspl&auml;tze f&uuml;r Dipl-Ing. (FH) des Studiengangs Vermessung zu vergeben</a></li>
                    </ul>
                </li>
                <li><h2>30.06.2007</h2>
                    <ul class="no-style">
                        <li><a href="">R&uuml;ckblick: "Tag der offenen T&uuml;r" am LVG</a></li>
                        <li><a href="">Manfred Kerl neuer Leiter des Vermessungsamts Schwabach</a></li>
                        <li><a href="">Umgebungskarte "Kneippland - Unterallg&auml;u" neu herausgegeben</a></li>
                        <li><a href="">Ausbildungspl&auml;tze f&uuml;r Dipl-Ing. (FH) des Studiengangs Vermessung zu vergeben</a></li>
                    </ul>
                </li>
                <li><h2>30.06.2007</h2>
                    <ul class="no-style">
                        <li><a href="">R&uuml;ckblick: "Tag der offenen T&uuml;r" am LVG</a></li>
                        <li><a href="">Manfred Kerl neuer Leiter des Vermessungsamts Schwabach</a></li>
                        <li><a href="">Umgebungskarte "Kneippland - Unterallg&auml;u" neu herausgegeben</a></li>
                        <li><a href="">Ausbildungspl&auml;tze f&uuml;r Dipl-Ing. (FH) des Studiengangs Vermessung zu vergeben</a></li>
                    </ul>
                </li>
            </ul>

        </div>

        <div style="float:left;margin:195px 0 0 5px;width:170px;border:1px solid green;">
            <h1>Blubber</h1>
            g(column_start)
        </div>
<!--##end-->

    </body>
</html>
