<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>Neues Internet</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" />
    </head>
    
    <body>
        
        <div id="logo">
            <h1>#(titel)</h1>
        </div>
        
        <div id="kekse">
            #(kekse) !#environment_kekse
        </div>
        
        <div id="container">
<!--##begin-->
<!--             <div classs="submenu"> -->
<!--##hide-level3-->
                <div class="box">
                    <h3>#(submenu)</h3>
<!--                     !#ausgaben_ext_menu -->
                    <ul class="ext_menu">
<!--##loop-level3-->
                        <li><a href="!{link}" title="!{title}" class="!{class}">!{item}</a></li>
<!--##cont-->
                    </ul>
                    <div>#(werbung)</div>
                </div>
<!--##show-->
<!--                #(left)
            </div>-->
<!--##end-->
            <div class="center">
                <div class="head">
                    <h2 class="top">#(head1)</h2>
                </div>
                <div class="teaser">
                    #(teaser1)
                </div>
                <div class="inhalt">
                    #(content1)
                    !#ausgaben_output
                </div>
                <p class="clear" />
            </div>
            <div class="head">
                <h2>#(head1)</h2>
            </div>
            <div class="teaser">
                #(teaser1)
            </div>
            <div class="inhalt">
                #(content1)
            </div>

            <p class="clear" />
        </div>
        
    </body>
</html>

<!--##end-->
