<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>termine-liste</title>
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" media="all" title="Standard" />
        <link rel="stylesheet" href="../../css/html/extra_default.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/eed.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/lightbox.css" type="text/css" />
    </head>
    <body>
<!--$Id: -2051315182.list.tem.html 1272 2008-03-13 13:00:15Z buffy1860 $-->
<!--##begin-->
        <div id="substance" class="wide">
            !#ausgaben_inhalt
            #(inhalt1)
<!-- LIST  gruppiert-->
            <!--##hide-list-->
            !#ausgaben_row
            <!--##show-->
<!-- LIST  gruppiert-->

<!-- LIST  default-->


            <!--##hide-fieldset-->
            <fieldset><legend>#(legend)</legend>#(calendar)
            <!--##show-->
            <!--##hide-anfrage-->
            <div style="line-height:30px;height:30px;background-color:#FEEAAD">
                #(suche)<B>!{suche}</B>!#ausgaben_hit
            </div>
            <span style="float:right">#(back)</span>
            <!--##show-->
            <!--##hide-fieldset-->
            </fieldset>
            <!--##show-->


            <!--##hide-defaultlist-->
            <table width="100%">
            <!--##show-->
            <!--##hide-headdefaultlist-->
                <tr><th style="width:30%;text-align:left">Datum</th><th style="width:70%;text-align:left">Beschreibung</th></tr>
            <!--##show-->
            <!--##loop-defaultlist-->
                <tr><td style="width:30%;">!{desc}</td><td style="width:35%;">!{name}</td></tr>
            <!--##cont-->
            <!--##hide-defaultlist-->
            </table>
            <!--##show-->
<!-- LIST  default-->

<!-- DETAIL -->
            <!--##hide-detail-->
            <p style="float:right;text-align:right;font-size:85%">
                <a href="termine.html">&Uuml;bersicht</a>&nbsp;|&nbsp;
                <a href="?print[2]=print" onclick="win_handling('?print[2]=print',0);return false;">Drucken</a>&nbsp;|&nbsp;
                <a href="mailto:?subject=Linkempfehlung&amp;body=http://www.vermessung.bayern.de!#pathvars_uri">Versenden</a>
            </p>
            <table width="100%">
            <!--##show-->
                <!--##loop-detail-->
                <tr><td style="width:20%;">!{desc}</td><td>!{name}</td></tr>
                <!--##cont-->
            <!--##hide-detail-->
            </table>
            <!--##show-->
            <!--##hide-detail_all-->
            <br />
            !{tet}
            <!--##show-->

            <script type="text/javascript">
                function win_handling(url,id) {
                    PrintAnsicht = window.open(url, "Druckausgabe");
                    PrintAnsicht.focus();
                    window.setTimeout("print_pic()", 1000);
                }
                function print_pic(leave_open) {
                    PrintAnsicht.print();
                    PrintAnsicht.close();

                }
                Event.observe(window, 'load',
                    function() {
                        $$('a.print_skizze').each(
                            function(element) {
                                new Effect.BlindDown(element,{duration:0.3});
                            }
                        );
                    }
                );
            </script>
<!-- DETAIL -->
        </div>
        #{margin}
<!--##end-->
    </body>
</html>
