<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>Neues Internet</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" />
        <script src="http://www.geodaten.bayern.de/BayernViewer2.0/js/ges.js" type="text/javascript" language="JavaScript" />
        <script src="http://www.geodaten.bayern.de/BayernViewer2.0/js/dojo.js" type="text/javascript" language="JavaScript" />
    </head>

    <body oncontextmenu="return false;" onload="initDHTMLAPI(); init();">

<!--##begin-->
        <div id="content">

<div id="overview" class="overview" style="z-index: 9; top: 154px; visibility: visible;" onmouseover="javascript:showoverview()" onmouseout="javascript:hiddenoverview()">
        <form name="formOvImg" action="">
        <div style="left: 127.934px; top: 185.353px; width: 0.610938px; height: 0.200941px;" id="OvRect" class="rect"></div>

        <div style="left: 128.239px; height: 184.353px;" id="OvN" class="line"><font size="1"></font></div>
        <div style="left: 129px; top: 185px; width: 111px; height: 1px;" id="OvE" class="line"><font size="1"></font></div>
        <div style="left: 128px; top: 186px; width: 1px; height: 63px;" id="OvS" class="line"><font size="1"></font></div>
        <div style="left: 0px; top: 185px; width: 126px; height: 1px;" id="OvW" class="line"><font size="1"></font></div>
        <input name="ru" value="4280000" type="hidden">
        <input name="hu" value="5237000" type="hidden">
        <input name="ro" value="4637000" type="hidden">
        <input name="ho" value="5609000" type="hidden">
        <input name="width" value="241" type="hidden">

        <input name="height" value="250" type="hidden">
        </form>
    </div>

<div id="toolspanel">

    <div id="btnPan"><img id="iconPan" src="res/btnPan.gif" onclick="initPan()" title="Karte verschieben ..." border="1"></div>
    <div id="btnZoomOut"><img id="iconZoomOut" src="res/btnZoomOut.gif" onclick="zoomOutMap()" title="Karte verkleinern ..." border="1"></div>
    <div id="btnZoom0"><img id="iconZoom0" src="res/btnZoomStep0_unakt.gif" onclick="zoomStep('1')" border="0"></div>
    <div id="btnZoom1"><img id="iconZoom1" src="res/btnZoomStep1_unakt.gif" onclick="zoomStep('2')" border="0"></div>
    <div id="btnZoom2"><img id="iconZoom2" src="res/btnZoomStep2_unakt.gif" onclick="zoomStep('3')" border="0"></div>
    <div id="btnZoom3"><img id="iconZoom3" src="res/btnZoomStep3_unakt.gif" onclick="zoomStep('4')" border="0"></div>
    <div id="btnZoom4"><img id="iconZoom4" src="res/btnZoomStep4_unakt.gif" onclick="zoomStep('5')" border="0"></div>
    <div id="btnZoom5"><img id="iconZoom5" src="res/btnZoomStep5_unakt.gif" onclick="zoomStep('6')" border="0"></div>
    <div id="btnZoom6"><img id="iconZoom6" src="res/btnZoomStep6_unakt.gif" onclick="zoomStep('7')" border="0"></div>

    <div id="btnZoom7"><img id="iconZoom7" src="res/btnZoomStep7_unakt.gif" onclick="zoomStep('8')" border="0"></div>
    <div id="btnZoom8"><img id="iconZoom8" src="res/btnZoomStep8_unakt.gif" onclick="zoomStep('9')" border="0"></div>
    <div id="btnZoom_move"><img id="iconZoom_move" style="position: absolute; top: -6px; left: 26px; width: 8px; height: 21px;" src="res/btnZoomStep4_akt.gif" onmousedown="zoom_down()" onmouseup="zoom_up()" onmousemove="" border="0"></div>
    <div id="btnZoomIn"><img id="iconZoomIn" src="res/btnZoomIn.gif" onclick="zoomInMapStep()" title="Karten vergrößern ..." border="1"></div>
    <div id="btnZoomInSka"><img id="iconZoomInSka" src="res/btnZoomSka.gif" onclick="initZoomIn()" title="Rahmen vergrößern ..." border="1"></div>
    <div id="btnStrecke"><img id="iconStrecke" src="res/btnLineal.gif" onclick="initStreckenMess()" title="Strecke messen ..." border="1"></div>
    <div id="btnFlaeche"><img id="iconFlaeche" src="res/btnPolygon.gif" onclick="initFlaechenMess()" title="Fläche messen ..." border="1"></div>
    <div id="btnHilfe"><a href="pdf/Bayernviewer2_Hilfe.pdf"><img id="iconHilfe" src="res/btnPdf.gif" onclick="" title="Programmbeschreibung" border="1"></a></div>
</div>


<div style="visibility: visible;" id="map">
    <div class="clsFrmBtnn" id="btnNW" name="btnNW" style="position: absolute; top: 0px; left: 0px; width: 20px; height: 20px; cursor: pointer;" onclick="navigateMap()">
        <img name="btnNW" src="res/navBtnNWr2.gif" alt="ButtonNW" style="position: absolute; top: 0px; left: 0px; width: 20px; height: 20px;" border="0"><br>
    </div>
    <div class="clsFrmBtnn" id="btnN" name="btnN" style="position: absolute; top: 0px; left: 21px; height: 20px; cursor: pointer; width: 905px;" onclick="navigateMap()">
        <img name="btnN" src="res/navBtnNr2.gif" alt="ButtonN" style="position: absolute; width: 20px; height: 20px; text-align: center; vertical-align: middle;" border="0"><br>
    </div>
    <div class="clsFrmBtnn" id="btnNO" name="btnNO" style="position: absolute; top: 0px; left: 926px; width: 20px; height: 20px; cursor: pointer;" onclick="navigateMap()">
        <img name="btnNO" src="res/navBtnNOr2.gif" alt="ButtonNO" style="position: absolute; top: 0px; left: 0px; width: 20px; height: 20px; text-align: center; vertical-align: middle;" border="0"><br>
    </div>
    <div class="clsFrmBtnn" id="btnW" name="btnW" style="position: absolute; top: 21px; left: 0px; height: 299px; width: 20px; cursor: pointer;" onclick="navigateMap()">
        <img name="btnW" id="btnW_img" src="res/navBtnWr2.gif" alt="ButtonW" style="position: absolute; left: 0px; width: 20px; height: 20px; top: 155.5px;" border="0"><br>

    </div>  
    <form name="formImg" action="">
        <div id="imgMapWrap" name="imgMapWrap" style="overflow: hidden; position: absolute; top: 20px; left: 20px; width: 910px; height: 304px;">
            <!-- <img id="imgMap" name="imgMap" class="divmap" style="position:absolute; top:1px; left:1px; cursor:'url(res/openhand.cur),move'; z-index:1" src="" onLoad="Add_Ergebnis();"><br> -->
            <div id="imgMap" style="position: absolute; top: 0px; left: 0px; z-index: 1;"><img src="http://www.geodaten.bayern.de/mapserver/mapserv.cgi?map=/export/home/intranet/htdocs/mapserver/easy.map&amp;VERSION=1.3&amp;Request=getMap&amp;styles=&amp;SRS=EPSG:31468&amp;layers=tk&amp;BBOX=4469511.93,5332895.17,4470416.93,5333194.17&amp;WIDTH=905&amp;HEIGHT=299&amp;transparent=no&amp;Format=png" style="position: absolute; top: 1px; left: 1px; width: 905px; height: 299px; z-index: 1; cursor: -moz-grab;" class="divmap" id="MapImg"></div>
            <div id="imgPolygon" style="position: absolute; top: 0px; left: 0px; z-index: 10; visibility: visible;"></div>
            <div id="zoomWindow" style="z-index: 4;"></div>
            <div id="zoom" class="rect" style="visibility: hidden; top: 100px; left: 100px; z-index: 3;"><font size="1"></font></div>
            <div id="imgFachdatenLayer" class="btnFachdatenlayer" style="position: absolute; top: 0px; left: 0px; z-index: 2; cursor: pointer;"></div>

        </div>
        <input name="rm" value="0" type="hidden">
        <input name="hm" value="0" type="hidden">
        <input name="ru" value="4469511.93" type="hidden">
        <input name="hu" value="5332895.17" type="hidden">
        <input name="ro" value="4470416.93" type="hidden">
        <input name="ho" value="5333194.17" type="hidden">
        <input name="width" value="905" type="hidden">
        <input name="height" value="299" type="hidden">

        <input name="ZoomStep" value="Step7" type="hidden">
        <input name="massstap" value="1" type="hidden">
    </form>
    <div class="clsFrmBtnn" id="btnO" name="btnO" style="position: absolute; top: 21px; left: 926px; width: 20px; cursor: pointer; height: 299px;" onclick="navigateMap()">
        <img name="btnO" id="btnO_img" src="res/navBtnOr2.gif" alt="ButtonO" style="position: absolute; left: 0px; width: 20px; height: 20px; top: 155.5px;" border="0">
    </div>
    <div class="clsFrmBtnn" id="btnSW" name="btnSW" style="position: absolute; top: 320px; left: 0px; width: 20px; height: 20px; cursor: pointer;" onclick="navigateMap()">
        <img name="btnSW" src="res/navBtnSWr2.gif" alt="ButtonSW" style="position: absolute; top: 0px; left: 0px; width: 20px; height: 20px;" border="0">
    </div>

    <div class="clsFrmBtnn" id="btnS" name="btnS" style="position: absolute; top: 320px; left: 21px; height: 20px; vertical-align: middle; width: 905px;" onclick="navigateMap()">
        <img name="btnS" src="res/navBtnSr2.gif" alt="ButtonS" style="position: absolute; width: 20px; height: 20px;" border="0">
    </div>
    <div class="clsFrmBtnn" id="btnSO" name="btnSO" style="position: absolute; top: 320px; left: 926px; width: 20px; height: 20px; cursor: pointer;" onclick="navigateMap()">
        <img name="btnSO" src="res/navBtnSOr2.gif" alt="ButtonSO" style="position: absolute; top: 0px; left: 0px; width: 20px; height: 20px;" border="0">
    </div>
    <div id="btnScaleWrap">
        <img id="btnImgScale" name="btnImgScale" style="position: absolute; top: 345px; left: 951px; width: 20px; height: 20px; cursor: move;" src="res/navBtnScale3.gif" alt="ButtonScale" onmousedown="resize_down" onmouseup="resize_up" border="0"></div>
</div>


        </div>
<!--##end-->

    </body>
</html>
