<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
    <head>
        <title>aktuell-uebersicht</title>
        <meta name="author" content="" />
        <meta name="description" content=" " />
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
        <link rel="stylesheet" href="../../css/html/screen.css" type="text/css" media="all" title="Standard" />
        <link rel="stylesheet" href="../../css/html/extra_default.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/eed.css" type="text/css" />
        <link rel="stylesheet" href="../../css/html/lightbox.css" type="text/css" />
    </head>
    <body>
<!--##begin-->
        <!--$Id: -2051315182.list.tem.html 1272 2008-03-13 13:00:15Z buffy1860 $-->
        <div id="substance">
            <!--##hide-new-->
            <p><a href="!{link}">g(new)</a></p>
            <!--##show-->
            <h1>#(ueberschrift)</h1>
            <!--##loop-artikel-->
            <div>
                <h2>!{titel_org}</h2>
                <img src="/file/!{image_img_art}/!{image_img_id}/s/test.png" style="float:right;margin: 5px 0px 5px 10px" alt="!{titel_org}"></img>!{teaser_org}
                <p><b><a href="!{detaillink}" title="!{titel_org}">Beitrag lesen</a></b></p>
                <p>!{editlink} !{deletelink}</p>
                <div class="clearer"></div>
            </div>
            <!--##cont-->
            <h2>Weitere Schlagzeilen</h2>
            <!--##loop-artikel2-->
            <div>
                !{datum} <a href="!{detaillink}">!{titel_org}</a>
                <div class="clearer"></div>
            </div>
            <!--##cont-->
            #(uebersicht_artikel)
            <hr />
            <h2>Pressemitteilungen</h2>
            <!--##loop-presse-->
            <div>
                !{datum} <a href="!{detaillink}">!{titel_org}</a>
                <div class="clearer"></div>
            </div>
            <!--##cont-->
  	    #(uebersicht_presse)
            <hr />
            <h2>Termine</h2>
            <!--##loop-termine-->
            <div>
                !{datum} <a href="!{detaillink}">!{titel}</a>
                <div class="clearer"></div>
            </div>
            <!--##cont-->
	    #(uebersicht_termine)
        </div>
        #{margin}
<!--##end-->
    </body>
</html>
