<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Wizard-Show</title>
<link rel="stylesheet" href="../../css/default/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/default/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--##begin-->
<div id="wizard">

    <div class="admin_head" style="">
        #(inhalt)
        <div class="clearer"></div>
    </div>

<!--     #(inhalt) -->

    <!--versions-umschalter-->
    <span style="float:right;">
        <!--##hide-version_prev-->
        | <a href="!{link_first}">&lt;&lt;</a> | <a href="!{link_prev}">&lt;</a> |
        <!--##show-->
        g(version) !#ausgaben_vaktuell g(of) !#ausgaben_vgesamt
        <!--##hide-version_next-->
        | <a href="!{link_next}">&gt;</a> | <a href="!{link_last}">&gt;&gt;</a> |
        <!--##show-->
    </span>

    <div class="clearer">
        <a name="preview">&nbsp;</a>
    </div>

    <hr>

    <div id="vorschau_container" style="display:none;">
        <div id="vorschau">
            <div id="substance" !#ausgaben_class></div>
        </div>
        <div id="preview_close">
            <img style="cursor: pointer;" alt="Vorschau schliessen" onclick="preview()" src="/images/html/lb/closelabel.gif"/>
        </div>
    </div>
    <div id="vorhang_cancel" style="display:none;"></div>
    <div id="vorhang_preview" style="display:none;"></div>

    <div class="column_1">
        #{image_map}
    </div>

    <div class="column_2">
        <!--##hide-no_sort_content-->
        <div style="display:block;margin:5px;background:silver;" id="no_sort_content">#(show_none)</div>
        <!--##show-->
        <!--##hide-sort_content-->
        <ul id="content_blocks">
            <!--##loop-sort_content-->
            <li id="item_!{key}" class="!{class}" style="!{style}">
<!--                 <a name="item_!{key}" href="#" style="float:right;">nach oben</a> -->
                <div class="clearer"></div>
                !{value_html}
                <div class="clearer"></div>
                <p class="buttons" !{modify}>
                    <a href="!{link_up}" class="button" title="#(wiz_moveup_desc)" style="!{display_up}">#(wiz_moveup)</a>
                    <a href="!{link_down}" class="button" title="#(wiz_movedown_desc)" style="!{display_down}">#(wiz_movedown)</a>
                    <a href="!{delete}" class="button" title="#(wiz_delete_desc)" style="!{display_delete}">#(wiz_delete)</a>
                </p>
                <div class="clearer"></div>
            </li>
            <!--##cont-->
        </ul>
        <!--##show-->
    </div>

    <div class="column_3">
        <div class="box">
            <h3>#(add_block)</h3>
            <!--##loop-add_buttons-->
            <a href="!{link}" class="button" title="!{item}">!{item}</a>
            <!--##cont-->
            <div class="clearer"></div>
        </div>

        <!--##hide-default-->
        <div class="box">
            <form method="post" action="!#ausgaben_form_aktion">
                <button type="button" onclick="preview();" id="button_preview" class="button">g(preview)</button>
                <button type="submit" name="version[]" value="version" class="button">g(save)</button>
                <button type="button" onclick="buttonCancel();" class="button">g(abort)</button>
                <div id="cancel" style="display:none;">
                    #(confirm_cancel)
                    <p >
                        <button type="submit" name="cancel[]" value="cancel" class="button" style="display:block;margin:3px;width:100px;float:left;">g(yes)</button>
                        <button type="button" onclick="buttonCancel();" class="button" style="display:block;margin:3px;width:100px;float:right;">g(no)</button>
                    </p>
                </div>

                <div class="clearer"></div>
            </form>
        </div>
        <!--##show-->

        <!--##hide-edit-->
        <div class="box">
            <form method="post" action="!#ausgaben_form_aktion">
                <button type="button" onclick="preview();" id="button_preview" class="button">g(preview)</button>
                <button type="submit" name="version[]" value="version" class="button">g(save)</button>
                <button type="button" onclick="buttonCancel();" class="button">g(abort)</button>
                <div id="cancel" style="display:none;">
                    #(confirm_cancel)
                    <p >
                        <button type="submit" name="cancel[]" value="cancel" class="button" style="display:block;margin:3px;width:100px;float:left;">g(yes)</button>
                        <button type="button" onclick="buttonCancel();" class="button" style="display:block;margin:3px;width:100px;float:right;">g(no)</button>
                    </p>
                </div>

                <div class="clearer"></div>
            </form>
        </div>
        <div class="box">
            <form method="post" action="!#ausgaben_form_aktion">
                <button type="submit" class="button" name="version[]" value="version">#(ask_release)</button>
                <input type="hidden" name="release_mark" value="-1" />
                <div class="clearer"></div>
            </form>
        </div>
        <!--##show-->

        <!--##hide-publish-->
        <div class="box">
            <form method="post" action="!#ausgaben_form_aktion">
                <button type="button" onclick="preview();" id="button_preview" class="button">g(preview)</button>
                <button type="submit" name="version[]" value="version" class="button">g(save)</button>
                <button type="button" onclick="buttonCancel();" class="button">g(abort)</button>
                <div id="cancel" style="display:none;">
                    #(confirm_cancel)
                    <p >
                        <button type="submit" name="cancel[]" value="cancel" class="button" style="display:block;margin:3px;width:100px;float:left;">g(yes)</button>
                        <button type="button" onclick="buttonCancel();" class="button" style="display:block;margin:3px;width:100px;float:right;">g(no)</button>
                    </p>
                </div>

                <div class="clearer"></div>
            </form>
        </div>
        <div class="box">
            <form method="post" action="!#ausgaben_form_aktion">
                <button type="submit" class="button" name="version[]" value="version">#(release)</button>
                <input type="hidden" name="release_mark" value="-1" />
                <div class="clearer"></div>
            </form>
        </div>
        <!--##show-->
    </div>

    <div class="clearer"></div>

</div>

!#ausgaben_output
!#ausgaben_inaccessible

<script type="text/javascript">
//     <!--##hide-sort_content-->
    Sortable.create("content_blocks",
        {only: 'ajax_move',
            onUpdate:function(){
                new Ajax.Request(
                    '!#ausgaben_ajax_request?' + Sortable.serialize("content_blocks"),
                    {
                        onComplete:function(){
                            new Effect.Highlight("content_blocks",{startcolor: '#FEF6DE'});
                            location.reload(true);
                        }
                    }
                );
            }
        }
    );
//     <!--##show-->

    Event.observe('vorhang_cancel','click',buttonCancel);
    Event.observe('vorhang_preview','click',preview);

    var dauer = 0.5;
    var deckkraft = 0.8;

//     <!--##hide-ajax_scroll-->
    Event.observe(window,'load',ajax_scroll);
    function ajax_scroll() {
        if ( $('!{section}') ) {
            Effect.ScrollTo(
                '!{section}',{offset:-20}
            );
            Effect.Pulsate('!{section}');
        }
    }
//     <!--##show-->

    function buttonCancel() {
        if ( $('cancel').style.display == 'none' ) {
            // fenstergroesse bestimmen (funktion ist in lightbox.js)
            var arrayPageSize = getPageSize();
            // box zentrieren
            var pos_x = ($('site').getWidth() - $('cancel').getWidth()) / 2;
            $('cancel').style.left = pos_x + 'px';
            $('cancel').style.top = arrayPageSize[3]/3 + 'px';
            // "vorhang" einblenden
            $('vorhang_cancel').style.width = arrayPageSize[0] + 'px';
            $('vorhang_cancel').style.height = arrayPageSize[1] + 'px';
            new Effect.Appear('vorhang_cancel', { duration: dauer, from: 0.0, to: deckkraft });
            new Effect.Appear('cancel');
        } else {
            // nach oben scrollen und box und "vorhang" ausblenden
            new Effect.ScrollTo('head', { duration: dauer});
            new Effect.Fade('cancel');
            new Effect.Fade('vorhang_cancel', { duration: dauer});
        }
    }

    function preview() {
        if ( $('vorschau_container').style.display == 'none' ) {
            var update = new Ajax.Updater('substance',
                                        '!#ausgaben_form_aktion',
                                        {
                                            asynchronous:true,
                                            parameters: 'ajax=on&save=on',
                                            onSuccess:function(){
                                                // fenstergroesse bestimmen (funktion ist in lightbox.js)
                                                var arrayPageSize = getPageSize();
                                                // vorschau zentrieren
                                                var pos_x = ($('site').getWidth() - $('vorschau_container').getWidth()) / 2;
                                                $('vorschau_container').style.left = pos_x + 'px';
                                                $('vorschau_container').style.top = arrayPageSize[3]/4 + 'px';
                                                // "vorhang" und vorschau einblenden
                                                $('vorhang_preview').style.width = arrayPageSize[0] + 'px';
                                                $('vorhang_preview').style.height = arrayPageSize[1] + 'px';
                                                new Effect.Appear('vorhang_preview', { duration: dauer, from: 0.0, to: deckkraft });
                                                new Effect.Appear('vorschau_container',{duration:0.5});
                                            }
                                        }
            );
            return false;
        } else {
            // nach oben scrollen und box und "vorhang" ausblenden
            new Effect.ScrollTo('head', { duration: dauer});
            new Effect.Fade('vorhang_preview',{duration:0.5});
            new Effect.Fade('vorschau_container',{duration:dauer});
        }
    }

    function anzeigen(id) {
        show = document.getElementById(id).style.display;
        f="ls_"+id;
        if ( show == 'none' ) {
            document.getElementById(f).style.background='url(/images/html/minuszeichen.jpg) left -5px no-repeat';
            new Effect.BlindDown(id, {duration: 0.1});
        } else {
            new Effect.BlindUp(id, {duration: 0.1})
            document.getElementById(f).style.background='url(/images/html/pluszeichen.jpg) left -5px no-repeat';
        }
        return false;
    }
</script>
<!--##end-->
</body>
</html>