<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Wizard-Edit</title>
<link rel="stylesheet" href="../../css/default/screen.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../../css/default/eed.css" type="text/css" media="screen" />
</head>
<body>
<!--##begin-->
<div id="wizard">
    <div class="admin_head" style="">
        #(inhalt)
        <div class="clearer"></div>
    </div>

    <div class="column_2 column_2_wide" style="" id="cEd">
        <fieldset class="">
            <ul>
                <!--##loop-allartikel-->
                <li style="border:1px solid silver; margin:0 0 5px;padding:5px;">
                    <button type="button" style="float:right;width:auto;" onclick="preview(!{version});" id="!{version}" class="button">Vorschau</button>
                    <h3 style="margin-top:0;">Version: !{version}:</h3>
                    !{text}
                </li>
                <!--##cont-->
            </ul>
        </fieldset>
    </div>

    <div class="column_3">
        <form method="post" action="!#ausgaben_form_aktion">
            <div class="box">
                <input type="hidden" name="form_referer" value="!#ausgaben_form_referer" class="hidden" />
                <button type="submit" name="delete[]" value="delete" accesskey="s" class="button">g(delete)</button>
                <button type="button" name="cancel[]" value="g(abort)" accesskey="a" class="button" onclick="location='!#ausgaben_form_referer'">g(abort)</button>
                <div class="clearer">&nbsp;</div>
            </div>
        </form>
    </div>
    <div id="vorhang_preview" style="display:none;"></div>
    <div id="vorschau_container" style="display:none;">
        <div id="vorschau">
            <div id="substance" !#ausgaben_class></div>
        </div>
        <div id="preview_close">
            <img style="cursor: pointer;" alt="Vorschau schliessen" onclick="preview()" src="/images/html/lb/closelabel.gif"/>
        </div>
    </div>
    !#ausgaben_output
    !#ausgaben_inaccessible
    <div class="clearer"></div>

</div>



<script type="text/javascript">

    var dauer = 0.5;
    var deckkraft = 0.8;
    Event.observe('vorhang_preview','click',preview);
    function preview(a) {
        if ( $('vorschau_container').style.display == 'none' ) {
            var update = new Ajax.Updater('substance',
                                        '!#ausgaben_form_aktion',
                                        {
                                            asynchronous:true,
                                            parameters: 'ajax=on&save=on&version='+a,
                                            onSuccess:function(){
                                                // fenstergroesse bestimmen (funktion ist in lightbox.js)
                                                var arrayPageSize = getPageSize();
                                                // vorschau zentrieren
                                                var pos_x = ($('site').getWidth() - $('vorschau_container').getWidth()) / 2;
                                                $('vorschau_container').style.left = pos_x + 'px';
                                                $('vorschau_container').style.top = arrayPageSize[3]/4 + 'px';
                                                // "vorhang" und vorschau einblenden
                                                $('vorhang_preview').style.width = arrayPageSize[0] + 'px';
                                                $('vorhang_preview').style.height = arrayPageSize[1] + 'px';
                                                new Effect.Appear('vorhang_preview', { duration: dauer, from: 0.0, to: deckkraft });
                                                new Effect.Appear('vorschau_container',{duration:0.5});
                                            }
                                        }
            );
            return false;
        } else {
            // nach oben scrollen und box und "vorhang" ausblenden
            new Effect.ScrollTo('head', { duration: dauer});
            new Effect.Fade('vorhang_preview',{duration:0.5});
            new Effect.Fade('vorschau_container',{duration:dauer});
        }
    }

</script>
<!--##end-->

</body>
</html>
