#content h2.top {
    border-left:15px solid rgb(128,179,255);
/*     background:yellow; */
}

#menu ul.navigation li.Level1Active a {
    background: rgb(128,179,255);
}

#menu ul.navigation li.Level1Active ul li a {
    background: #BFD9FF;
}
