@import "screen.css";

body {
    font-family: Georgia, "Bitstream Vera Serif", serif;
    font-size:14px;
}

/* allgemeine print-definitionen
        aenderungen, die fuer mehrere
        bereiche gelten
------------------------------------------------------*/

#debug,
#headnavi,
#margin,
#navi,
.anchor,
.banner,
.foot_links,
.metanavi,
.sub_menu {
    display:none !important;
}

.foot_source {
    display:block !important;
}

/* #banner, */
#foot,
#head,
#site,
#substance,
.kekse {
    padding-left:0;
    padding-right:0;
    width:100% !important;
}

#head,
#site {
    background:none;
}

/* kopfbereich anpassen */
#banner {
    background:none;
    margin-bottom:2em;
}