/*----------------------
  globale definitionen
----------------------*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,pre,form,fieldset,input,p,blockquote,th,td,img{
/*     margin:0;padding:0; */
}

body{
    color:#303030;
    font:76% Verdana,Tahoma,Arial,sans-serif;
    line-height:1.3em;
    margin:0;
/*    padding:8px;*/
}

/* ueberschriften */
h1{
    border-bottom:1px solid #CCCCCC;
    font-size:1.15em;
    margin:0;
    padding-bottom:3px;
}

h2{
    color:#5B5B5B;
    font-size:1.15em;
    margin:1.5em 0 0.75em;
}

h3 {
    font-size:1.0em;
    margin:1.5em 0 0.75em;
}

/* links */
a{
    background-color:inherit;
    color:#2C5A93;
    text-decoration:none;
}

    a:hover{
        color:#2C5A93;
        text-decoration:underline;
    }

    a img{
        border:0px;
    }

/* formulare */
form {
    margin:0;
}
fieldset{
    background:#EFEFEF;
    border:1px solid #CCCCCC;
    margin:5px 0;
    padding:5px;
}

fieldset select, fieldset input{
    width:150px;
}

fieldset .small{
    width:50px;
}

fieldset .medium{
    width:248px;
}

fieldset label {
    float: left;
    display: block;
    clear: both;
    width: 150px;
    margin:3px 0;
}

legend {
    font-weight:bold;
}
select, input, textarea, button {
    border:1px solid #8F8F8F;
}
select, input, button {
    line-height:1.4em;
}
textarea{
    font-family:inherit;
    width:90%;
}
    button, input[type=button], input[type=submit]{
        cursor:pointer;
    }
    input[type=checkbox] {
        margin:0.3em 0;
        width:auto;
    }

/* block-elemente */
hr {
    background:#CCCCCC;
    border:none;
    clear:both;
    height:1px;
}
p {
    margin:0.5em 0;
}
ul, ol{
/*     list-style:none; */
}

/* inline-element */
acronym {
    border-bottom:1px dotted #303030;
    cursor:help;
}
del {
    color:red;
}
ins {
    color:green;
}

/*----------------------------
  id-definitionen (bereiche)
----------------------------*/

/* kompletter seiteninhalt,
      noetig, damit die mit float angeordenten
      elemente nicht umbrechen koennen
------------------------------------------------------*/
#site{
    background:url('/images/html/background.png') repeat-y;
    width:1000px;
    z-index:1;
}

/* kopfbereich mit banner, logo, kopfnavigation, kekse
------------------------------------------------------*/
#head{
    width:990px;
}

    #banner {
        background-image: url('/images/html/banner.jpg');
        background-repeat: no-repeat;
        width:990px;
        z-index:10;
    }

        #banner h1 {
            border:none;
            bottom:3px;
            font-size:1.3em;
            position:absolute;
            right:95px;
            text-align:right;
        }

            #banner h1:hover {
                text-decoration:none !important;
            }

    /* feld mit der kopfnavigation und dem suchfeld */
    #headnavi{
        background:#2C5A93;
        width:880px;
    }

    /* head-navigation */
    #headnavi ul {
        height:2em;
        line-height:2em;
        margin:0 0 0 160px;
        padding:0;
        width:540px;
    }

        #headnavi li{
            float:left;
            list-style-type:none;
            white-space:nowrap;
        }

            #headnavi li a{
                color:#EEF3FB;
                display:block;
                padding:0 10px;
            }

    /* kekse-bereich */
    #head p {
        float:left;
        line-height:2em;
        margin:0.3em 0;
    }

    #head p.metanavi{
        background:#EEF3FB;
        margin:0;
        text-align:right;
        width:160px;
    }

    #head p.kekse{
        margin:0;
        padding-left:10px;
        width:550px;
    }

    #head .schnellsuche{
        width:150px;
    }

    #hidden_navi, .hidden {
        display:none;
    }

/* globale menue spalte
-----------------------*/
#navi {
    background:#EEF3FB;
    color:#FFFFFF;
    float:left;
    overflow:hidden;
    width:160px;
}

    #navi h1 {
        border:none;
        color:#EEF3FB;
        padding-left:15px;
    }

    #navi ul {
        padding:0;
        margin:0;
    }

    /* seiten-navigation */
    #navi .menu {
        background:#2C5A93;
        margin-bottom:10px;
        padding-bottom:10px;
        padding-top:10px;
    }

        #navi .menu h1 {
            color:#2C5A93;
        }

        #navi .menu ul a {
            color:#fff;
        }

            #navi .menu ul a span {
                display:none;
            }

            #navi .menu ul a:hover span {
                background:#EEEEEE;
                border:1px solid #CCCCCC;
                color:#303030;
/*                 display:block; */
                left:25px;
                font-style:italic;
                padding:0.3em;
                position:absolute;
                z-index:100;
            }

    #navi ul.navigation {
/*         border-bottom:1px solid #FFFFFF; */
        margin:0 0 0 15px;
    }

        #navi ul.navigation ul {
            margin:3px 0 0 10px;
        }

        #navi ul.navigation li {
/*             border-top:2px solid #FFFFFF; */
            padding:5px 5px 5px 0;
            list-style:none;
            position:relative;
        }

            #navi .menu ul.navigation li a {
                font-weight:bold;
                color:#EEF3FB;
            }

                #navi ul.navigation li.Level1Active a {
                    color:#FEEAAD;
                }

                    #navi .menu ul.navigation li.Level1Active li a {
                        color:#EEF3FB;
                    }

                        #navi ul.navigation li.Level1Active li.Level2Active a {
                            color:#FEEAAD;
                            font-weight:bold;
                        }

                #navi ul.navigation li a:hover {
                    text-decoration:none;
/*                     color:#FFFFFF; */
                }

            #navi ul.navigation ul li {
                border-top:none;
                padding:2px 0;
            }

                #navi .menu ul.navigation ul li a {
                    font-weight:normal;
                }

    #navi .schnellsuche{
        width:125px;
    }

/* eigentlicher inhalt
----------------------*/
#substance{
    float:left;
    padding:10px 0 10px 10px;
    width:540px;
    overflow:hidden;
}

    /* ueberschriften */
    #substance h1 {
        margin-bottom:10px;
    }
    #substance h2 {
    }

    /* block-elemente */
    #substance p {
        width:380px;
    }
        #substance p.teaser {
            margin-bottom:1.5em;
        }
        #substance.artikel p.teaser {
            width:100%;
        }

    #substance .single_news img {
        float:left !important;
        margin:0 10px 5px 0 !important;
    }

    #substance .single_news p {
        width:100%;
    }

    #substance div.wide p,
    #substance div.present p,
    #substance div.wide ul,
    #substance.wide p,
    #substance.wide ul {
        width:auto;
    }

    #substance ul, #substance ol {
        list-style-image:url('/images/html/li-dash.png');
        width:380px;
    }
        #substance .selection_teaser ul, #substance .selection_teaser ol {
            width:auto;
        }
        #substance ul li {
            margin-left:25px;
        }
            #substance ul li blockquote {
                margin:0.3em 1em;
/*                 width:100%; */
                background-color:#EEF3FB;
            }
    /* liste ohne punkte */
    ul.no-style {
        list-style:none;
        margin-left:0;
        padding-left:0;
    }

    #substance table {
        font-size:inherit;
    }
        #substance td, #substance th, #substance .cell {
            background:#EFF2FA;
            border:1px solid #CCCCCC;
            padding:2px;
        }

    /* inline-elemente */
    #substance img {
    }
        #substance ul img{
            margin:2px 2px 2px 0;
        }
        /* banner-grafik */
        #substance .banner img {
            margin:0 !important;
        }

    /* klassen */
    #substance .left {
        float:left;
        width:380px;
    }

    /* sub-menu */
    /* * * * */
    #substance .sub_menu {
        background:#FFFFFF;
        border:1px solid #CCCCCC;
        border-top:5px solid #CCCCCC;
        float:right;
        margin:0.7em 0;
        overflow:hidden;
        text-align:right;
        width:150px;
    }

        #substance .sub_menu h2 {
            background:#EEF3FB;
            margin:0;
            padding:0.3em;
        }

        #substance .sub_menu p {
            padding:0 0.3em;
            width:auto;
        }

        #substance .sub_menu ul {
            list-style:none;
            margin:/*0.5em */0;
            padding:0;
            width:auto;
        }

        #substance .sub_menu li, #substance .aktuell a {
            list-style-image:none;
            padding-right:0.3em;
        }
        #substance .aktuell a {
            font-weight:bold;
        }
        #substance .sub_menu li {
/*             background:#eeeeee; */
            margin:2px 0;
        }
    /* + + + */
    /* sub-menu */

    /* aktuell-box */
    /* * * * */
    #substance .aktuell {
        background:#FAFAFA;
        border-top:5px solid #CCCCCC;
        margin-top:35px;
    }

        #substance .aktuell h3 {
/*             display:none; */
        }

        #substance .aktuell p {
            width:100%;
        }

            #substance .aktuell p a {
                background:url('/images/html/dash.png') no-repeat;
                padding-left:16px;
            }
    /* + + + */
    /* aktuell-box */

    /* 3-er Kombination (bild,ueberschrift,absatz) */
    /* * * * */
    #substance .present {
        clear:both;
        float:left;
        margin:0.5em 0 1.5em;
        padding:0;
        width:100%;
    }

        #substance .present h2 {
            margin-left:160px;
            margin-top:0;
        }

        #substance .present p {
            margin-left:160px;
        }

            #substance .present p a {
                font-weight:bold;
            }
    /* + + + */
    /* 3-er Kombination */

    #substance.news h2 {
        font-size:1.15em;
    }

/* marginal-spalte
-----------------------*/
#margin{
    background:#EEEEEE;
    float:left;
    margin-left:10px;
    padding:10px 0 10px 0;
    width:160px;
}

    #margin ul {
        list-style:none;
        margin:0;
        padding:inherit;
    }

    #margin h1 {
        border:none;
        color:#EEEEEE;
        padding-left:15px;
    }

/* fuss-zeile
-----------------------*/
#foot {
    background:#FFFFFF;
    clear:both;
    line-height:1.5em;
    padding-top:5px;
    width:880px;
}

    #foot .foot_links {
        text-align:center;
    }

    #foot .foot_source {
        display:none;
        font-weight:bold;
    }

/*----------------------
  klassen definitionen
----------------------*/

/* keine float-effekte mehr */
.clear{
    clear:both;
}

/* linke und rechte ausrichtung */
.right{
    float:right;
}

.left{
    float:left;
}

.anchor {
    clear:both;
    display:block;
    padding-top: 25px;
    text-align:right;
    width:100% !important;
}

fieldset.button {
    text-align:right;
    padding-right:81px;
}

/* suchfeld */
/* * * * */
.schnellsuche{
    background:#fff;
    border:1px solid #8F8F8F;
    margin:2px 2px;
}

    .schnellsuche input{
        border:none;
        float:left;
        font-size:0.9em;
        width:120px;
    }

    .schnellsuche button{
        border:none;
        float:right;
        height:1.2em;
        margin:0;
        padding:0;
    }

    .schnellsuche img{
        margin:0 !important;
        padding:0;
    }
/* + + + */

/* terminkalender */
/* * * * */
/* hell:   #FEF6DE */
/* dunkel: #DFB859 */
.cal_termine {
    border:1px solid #CCCCCC;
    border-collapse:collapse;
    font-size:0.9em;
    margin:0 0px 0px;
    width:152px;
}

    .cal_termine td {
        background:#FEF6DE;
        border:1px solid #FEEAAD;
        border-bottom: none;
        text-align:center;
    }

        .cal_termine td.first {
            border-left:1px solid #CCCCCC;
        }

        .cal_termine td.last {
            border-right:1px solid #CCCCCC;
        }

    .cal_termine td.today {
        background:#FEEAAD;
    }

    .cal_termine th {
        background:#FEEAAD;
    }

.cal_termine_months {
    border-bottom:none;
    margin:0 0px;
}

    .cal_termine_months td {
        background:#FEEAAD;
        border:1px solid #FEF6DE;
    }

        .cal_termine_months tr.first_line td {
            border-top: 1px solid #CCCCCC;
        }
/* + + + */

/* kasten fuer zusatz-informationen */
.box{
    background:#fff;
    border:1px solid #CCCCCC;
    border-top:5px solid #CCCCCC;
    margin:0 3px 20px;
    text-align:center;
/*     -moz-border-radius-topright:20px; */
}

    .wizard .box {
        text-align:inherit;
    }

    .viewer h1, #substance .sub_menu h3 {
        background:#EEF3FB;
        border:none;
        border-bottom:1px solid #EEF3FB;
        margin:0;
        padding:0.2em 3px;
        text-align:left;
    }

    .box ul {
        text-align:left;
    }

    .box h2 {
        padding-left:3px;
        text-align:left;
    }

    .box h3 {
        border:none;
        color:#444444;
        font-size:1em;
        margin:0;
        padding:0.2em 3px;
        text-align:left;
    }

    .box img {
        margin:1px 0;
    }

    .box p, .box ul, .box fieldset {
        padding:0 3px;
        text-align:left;
    }

    #margin .box ul, .box fieldset {
        padding:3px;
        margin:3px;
    }

.search {
    background:#FEF6DE;
}

/* viewer-design */
.viewer {
    border:1px solid #CCCCCC;
}

    .viewer .pic {
        background:#EFEFEF;
        float:left;
        padding:5px 10px 20px;
        width:250px;
    }

    .viewer .pic_wide {
        background:#EFEFEF;
        padding:0.5em 0;
    }

        #substance .viewer p {
            width:auto;
/*             background:silver; */
        }

        #substance .viewer .pic p, #substance .viewer .pic_wide p {
            text-align:center;
            margin:0;
        }

        #substance .viewer .pic img, #substance .viewer .pic_wide img {
            margin:0.2em 0;
        }

            #substance .viewer .pic p img. #substance .viewer .pic_wide p img {
                vertical-align:middle;
            }

    .viewer .desc {
        float:right;
        margin-right:5px;
        width:255px;
    }

    .viewer .desc_wide {
        margin:0 5px;
    }

/* artikel-teaser */
p.teaser{
    font-style:italic;
}

.teaser-margin{
    margin-left:100px;
}

/* imgb-tag */
.imgb {
    border:1px solid #CCCCCC;
}

    .imgb div {
        margin:0 !important;
    }

        .imgb div img {
            border:0;
            float:left;
        }

    .imgb p {
        margin:0 !important;
        clear:left;
        padding-left:2px;
    }

        .imgb p a {
            background: url('/images/default/filefind.png') no-repeat right 1px;
            display:block;
            padding:16px 16px 0 0;
        }

        #substance .imgb p {
            width:auto;
        }

/* Auto-Completer */
div.autocomplete {
    position:absolute;
    width:500px;
    background-color:#E2EAF4;
    border:1px solid #888888;
    margin:0px;
    padding:0px;
}

    div.autocomplete ul, #content div.autocomplete ul {
        list-style-type:none;
        margin:0px;
        padding:0px;
    }

        div.autocomplete ul li.selected { background-color: #C2DAEF;}

        div.autocomplete ul li {
            list-style-type:none;
            display:block;
            margin:0;
            padding:0;
            cursor:pointer;
        }

/* infobox fuer die startseite der aemter */
.amt_info_box {
/*     border:1px solid silver; */
}

    .amt_info_box p, .amt_info_box div {
        margin:/*0.5em*/ 0;
        display:block;
        float:left;
        text-align:left;
        width:45%;
    }

    .amt_info_box div {
        margin-bottom:5px;
    }

        .amt_info_box div.clear {
            width:100%;
        }

        .amt_info_box p img, .amt_info_box div img {
            float:left;
/*             margin-bottom:0.5em; */
            vertical-align:middle;
        }

        .amt_info_box span {
            display:block;
            margin-left:40px;
        }

/* banner fuer die amtsseite */
#substance p.amt_banner {
    height:120px;
    width:540px;
}

    #substance p.amt_banner img {
/*         height:120px; */
/*         background:#EEEEEE; */
/*         border:1px solid #CCCCCC; */
/*         margin:13px; */
/*         padding:3px; */
    }


.old {
    background: #FF9148;
}
.new {
    background: #A9C0CE;
}

/* Kontakt-Formular */
.kontakt input {
    float:left;
    margin-top: 1px;
    margin-bottom: 1px;
    width: 300px;
}

    .kontakt textarea{
        width:450px;
    }

    .kontakt label {
        float: left;
        display: block;
        clear: both;
        width: 150px;
        margin:3px 0;
    }

        .kontakt label.label_right {
            clear:none;
            margin-left:5px;
            width:450px;
        }

            .kontakt label.label_right input {
                margin-right:5px;
                width:auto;
            }

input.small {
    width: 50px;
}

input.medium {
    width: 248px;
}

/* brotkrumen */
.last_bread_crumb {
    font-weight:bold;
}


/* wizard gestaltung
------------------------*/
#substance.wizard {
    background:#FFFFFF;
    padding:15px 0 0 10px;
    width:870px;
}

    .wizard .button {
        background-color:#EEEEEE;
        border:1px solid #CCCCCC;
        cursor:pointer;
        margin-right:5px;
        padding:0.5ex 1ex;
        text-decoration:none;
        width:auto;
    }

    .wizard #sort_content {
        padding:0;
        width:100%;
    }

        .wizard #sort_content li {
            background:no-repeat right top;
            border:1px solid #CCCCCC;
            list-style:none;
            margin:0 0 3px;
            padding:20px 4px 0;
        }

            .wizard #sort_content li.ajax_move {
                border-color:#FFC71F;
            }

                .wizard #sort_content li .clear {
                    padding:0;
                    text-align:right;
                    width:100%;
                }

            .wizard #sort_content li div.wiz_edit {
                border:1px solid #CCCCCC;
                float:left;
                margin:3px;
            }

                .wizard #sort_content li div.wiz_edit div.buttons a {
                    background:#EEEEEE;
                    font-weight:normal;
                    float:left;
                    margin-right:2px;
                    padding:0.5ex 1ex;
                }

            .wizard #sort_content li span.wiz_edit {
                border:1px solid #CCCCCC;
            }

                .wizard #sort_content li span.wiz_edit span.buttons {
                    display:none;
                    font-weight:normal;
                }

                .wizard #sort_content li span.wiz_edit:hover span.buttons {
                    display:inline;
                }

    .wizard form label {
        display:block;
        float:left;
        margin:2px 0;
        padding:1px;
        width:120px;
    }

        .wizard form label.cbra {
            text-align:left;
            width:170px;
        }

        .wizard form input, .wizard form button {
            float:left;
            font-size:0.95em;
            margin:2px 0;
            padding:1px;
            width:250px;
        }

            .wizard form .cbra {
                clear:both;
            }

            .wizard form .cbra input, .wizard form .thumbs input {
                margin:2px 5px;
                width:auto;
            }

            .wizard form table input {
                border:none;
                margin:0;
                padding:0;
                width:100%;
            }

    .wizard form input.big {
        width:250px;
    }

    .wizard form br {
        clear:both;
    }

    .wizard fieldset.buttons {
        text-align:right;
    }

        .wizard .box fieldset.buttons {
            text-align:left;
        }

        .wizard fieldset.buttons button, .wizard fieldset.buttons input {
            float:none;
            width:auto;
        }

        .wizard fieldset.buttons form {
            float:right;
        }

        .wizard fieldset fieldset {
            float:left;
            margin-right:15px;
        }

    .wizard #preview {
        border-bottom:1px solid #CCCCCC;
        margin-bottom:10px;
        padding-bottom:10px;
    }

    .wizard #grid_list {
        list-style:none;
        margin:0;
        padding:0;
        width:680px;
    }
