/*----------------------
  globale definitionen
----------------------*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,pre,form,fieldset,input,p,blockquote,th,td,img{
    margin:0;padding:0;
}

ul, ol{
    list-style:none;
}

body{
/*     background:#FFF8DD; */
    color:#303030;
    font:76% Verdana,Tahoma,Arial,sans-serif;
    padding:10px;
}

h1{
    font-size:1.3em;
    margin:0 0 0.7em 0;
}

h2{
    font-size:1em;
    margin:0.7em 0;
}

a{
    background-color:inherit;
    color:#369;
    text-decoration:none;
}

a:hover{
    background-color:inherit;
    color:#2a5a8a;
    text-decoration:none;
}

p {
    margin:0.7em 0;
}

hr {
    background:silver;
    border:none;
    clear:both;
    height:1px;
}

select, input, textarea, button {
    border:1px solid #8F8F8F;
}

select, input, button {
    height:1.4em;
    line-height:1.4em;
}

textarea{
    width:100%;
}

button, input[type=button], input[type=submit]{
    cursor:pointer;
}

fieldset{
    background:#EFEFEF;
    border:1px solid #8F8F8F;
    margin-bottom:5px;
    padding:5px;
}


/*----------------------------
  id-definitionen (bereiche)
----------------------------*/

/* kompletter seiteninhalt,
      noetig, damit die mit float angeordenten
      elemente nicht umbrechen koennen
------------------------------------------------------*/
#site{
    width:1000px;
}

/* kopfbereich mit banner, logo, kopfnavigation, kekse
------------------------------------------------------*/
#head{
    width:980px;
}

    /* head-navigation */
    #head ul {
        background:#369;
        height:2.2em;
        line-height:2.2em;
        padding-left:175px;
        width:705px;
    }

    #head li{
        border-left:1px solid #ffffff;
        float:left;
        list-style-type:none;
        white-space:nowrap;
    }

        #head li a{
            color:#ffffff;
            display:block;
            padding:0 10px;
        }

        #head li .selected, #head li a:hover{
            background:#B5CCE1;
            color:#ffffff;
            text-decoration:none;
        }

    /* kekse-bereich */
    #head p {
        float:left;
        line-height:2em;
        margin:0.3em 0;
    }

    #head p.metanavi{
        text-align:center;
        width:175px;
    }

    #head p.kekse{
        padding-left:10px;
    }

/* globale menue spalte
-----------------------*/
#navi {
/*     background:yellow; */
    float:left;
    width:175px;
}

    #navi ul.navigation {
        margin:10px 0 0 0;
    }

        /* menuepunkte der ebene 1 */
        #navi ul.navigation li {
            color:#369;
            list-style:square;
            margin:7px 2px 7px 25px;
        }

        /* menuepunkte bekommen unterschiedliche farben */
        #navi ul.navigation li.col0, #navi ul.navigation li.col0 li, #navi ul.navigation li.col0 a {
            color:#063;
        }

        #navi ul.navigation li.col1, #navi ul.navigation li.col1 li, #navi ul.navigation li.col1 a {
            color:#369;
        }

        #navi ul.navigation li.col2, #navi ul.navigation li.col2 a {
            color:#930;
        }

        #navi ul.navigation li.col3, #navi ul.navigation li.col3 a {
            color:#960;
        }

        #navi ul.navigation li.col4, #navi ul.navigation li.col4 a {
            color:rgb(100%,40%,0%);
        }

        #navi ul.navigation li.col5, #navi ul.navigation li.col5 a {
            color:rgb(181,204,225);
        }

        #navi ul.navigation li.col6, #navi ul.navigation li.col6 a {
            color:#231f20;
        }

        /* level1-links werden fett dargestellt */
        #navi ul.navigation li a{
            font-weight:bold;
        }

        /* menuepunkte der ebene 2 */
        #navi ul.navigation li ul li {
            list-style:none;
            margin-left:10px;
        }

            #navi ul.navigation li ul li a {
                font-weight:normal;
            }

/* eigentlicher inhalt
----------------------*/
#content{
    background:#fff;
    float:left;
    line-height:1.2em;
    margin: 0 5px;
    padding:10px 170px 0 10px;
    position:relative;
    width:520px;
}

#content_2col{
    float:left;
    line-height:1.2em;
    margin: 0 5px;
    padding:10px;
    width:520px;
}

    /* listen im content-bereich sollen so aussehen */
    #content ul, #content_2col ul{
        list-style:disc;
        margin:0.7em 0 0.7em 1em;
        padding-left:1em;
    }

    /* liste ohne punkte */
    #content ul.no-style, #content_2col ul.no-style {
        list-style:none;
        margin-left:0;
        padding-left:0;
    }

/* marginal-spalte
-----------------------*/
#margin {
/*     background:red; */
    position:absolute;
    right:10px;
    top:210px;
    width:150px;
}

#margin_2col{
    float:left;
    width:150px;
}

        #margin ul, #margin_2col ul {
            list-style:none;
            margin:0;
            padding:inherit;
        }

/* fuss-zeile
-----------------------*/
#foot {
    background:#fff;
    border-top:1px solid silver;
    clear:both;
    line-height:1.5em;
    margin-left:180px;
    text-align:center;
    width:700px;
}

/*----------------------
  klassen definitionen
----------------------*/

/* keine float-effekte mehr */
.clear{
    clear:both;
}

/* kasten fuer zusatz-informationen */
.box{
    border:1px solid #c0c0c0;
/*     color:#505050; */
    line-height:1.5em;
    margin:0 0 20px 0;
    padding:3px;
}

/* artikel-teaser */
p.teaser{
    font-weight:bold;
}

img.teaser {
    float:left;
}

/* linke und rechte ausrichtung */
.right{
    float:right;
}

.left{
    float:left;
}

.teaser-margin{
    margin-left:100px;
}

/* suchfeld */
.schnellsuche{
    border:1px solid #8F8F8F; 
    width:125px;
}

    .schnellsuche input{
        border:none;
        float:left;
        width:100;
    }

    .schnellsuche button{
        border:none;
        float:right;
        margin:0;
        padding:0;
    }

/* Auto-Completer */
div.autocomplete {
    position:absolute;
    width:500px;
    background-color:#E2EAF4;
    border:1px solid #888;
    margin:0px;
    padding:0px;
}

    div.autocomplete ul, #content div.autocomplete ul {
        list-style-type:none;
        margin:0px;
        padding:0px;
    }

        div.autocomplete ul li.selected { background-color: #C2DAEF;}

        div.autocomplete ul li {
            list-style-type:none;
            display:block;
            margin:0;
            padding:0;
            cursor:pointer;
        }
